Repository pocketsizefund/pocketsizefund: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, dead-code, rust-formatting, rust-linting

lint:
  name: Lint
  entry: 'mise run lint:python
  
    '
  pass_filenames: false
  language: system

dead-code:
  name: Dead code
  entry: 'mise run check:dead-code
  
    '
  pass_filenames: false
  language: system

rust-formatting:
  name: Rust formatting
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: 'mise run fmt:rust
  
    '
  language: system

rust-linting:
  name: Rust linting with clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: 'mise run lint:rust
  
    '
  pass_filenames: false
  language: system

testing
  .github/workflows/python.yml
Due: none

updating gh action
  .github/workflows/python.yml
Due: none

testing
  .flox/env.json
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .github/workflows/python.yml
  .github/workflows/setup.yaml
  .gitignore
  .mise/config.toml
  .mise/tasks/python/lint
  pyproject.toml
Due: none

testing
  .github/workflows/publish-python-library.yaml
  .github/workflows/python.yaml
Due: none

testing
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .github/workflows/python.yaml
Due: none

testing
  .github/workflows/python.yaml
  .github/workflows/setup.yaml
Due: none

testing
  .github/workflows/python.yaml
Due: none

testing
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .mise/config.toml
  infrastructure/__init__.py
  infrastructure/chat.py
  libraries/python/src/pocketsizefund/model.py
  libraries/python/tests/test_data.py
  libraries/python/tests/test_storage.py
  libraries/python/tests/test_trade.py
  platform/positionmanager/entrypoint.py
  platform/positionmanager/event_bus.py
  platform/pricemodel/entrypoint.py
  pyproject.toml
Due: lint, dead-code

workikng on new flow
  libraries/rust/Cargo.toml
Due: none

Vertically stack landing page links
  infrastructure/__init__.py
  infrastructure/chat.py
  libraries/rust/src/events/market.rs
  platform/chronos/tests/test_chron.rs
  platform/discord/tests/test_health_check.rs
  platform/discord/tests/test_send_message.rs
  platform/frontend/about.html
  platform/frontend/index.html
Due: lint, dead-code, rust-formatting, rust-linting

create compliance service
  Cargo.lock
  Cargo.toml
  platform/compliance/Cargo.toml
  platform/compliance/Dockerfile
  platform/compliance/compose.yaml
  platform/compliance/src/lib.rs
  platform/compliance/src/main.rs
  platform/compliance/src/routes/events.rs
  platform/compliance/src/routes/health.rs
  platform/compliance/src/routes/mod.rs
  platform/compliance/tests/test_compliance.rs
  platform/compliance/tests/test_health.rs
Due: rust-formatting, rust-linting

testing
  infrastructure/steps/aws/__init__.py
  infrastructure/steps/aws/ingress_rules.py
  infrastructure/steps/aws/vpc.py
  infrastructure/tasks.py
Due: lint, dead-code

fix infrastructure
  .flox/env/manifest.toml
  infrastructure/.flox/.gitignore
  infrastructure/.flox/env.json
  infrastructure/.flox/env/manifest.lock
  infrastructure/.flox/env/manifest.toml
  infrastructure/steps/aws/__init__.py
  infrastructure/steps/aws/cloudwatch.py
  infrastructure/steps/aws/eks.py
  infrastructure/steps/aws/iam.py
  infrastructure/steps/aws/ingress_rules.py
  infrastructure/steps/aws/node_group.py
  infrastructure/steps/aws/subnet.py
  infrastructure/steps/aws/vpc.py
  libraries/rust/Cargo.toml
  libraries/rust/src/account.rs
  libraries/rust/src/lib.rs
  platform/chronos/Cargo.toml
  platform/chronos/src/routes/events.rs
  platform/chronos/tests/test_chron.rs
  platform/positionmanager/README.md
  platform/positionmanager/entrypoint.py
  platform/positionmanager/src/positionmanager/__init__.py
  platform/positionmanager/src/positionmanager/entrypoint.py
  platform/positionmanager/uv.lock
  platform/pricemodel/README.md
  platform/pricemodel/pyproject.toml
  platform/pricemodel/src/pricemodel/__init__.py
  platform/pricemodel/src/pricemodel/entrypoint.py
  platform/pricemodel/uv.lock
  pyproject.toml
Due: lint, dead-code, rust-formatting, rust-linting

remove platform
  platform/compliance/Cargo.toml
  platform/compliance/Dockerfile
  platform/compliance/compose.yaml
  platform/compliance/src/lib.rs
  platform/compliance/src/main.rs
  platform/compliance/src/routes/events.rs
  platform/compliance/src/routes/health.rs
  platform/compliance/src/routes/mod.rs
  platform/compliance/tests/test_compliance.rs
  platform/compliance/tests/test_health.rs
Due: rust-formatting, rust-linting

Add stale GitHub Actions workflow
  .github/workflows/stale.yaml
Due: none

update platform version
  .gitignore
  .mise/tasks/infrastructure/up
  .mise/tasks/platform/positionmanager/build
  .mise/tasks/platform/pricemodel/build
  infrastructure/aws/cluster-config.yaml
  infrastructure/aws/s3.yaml
  infrastructure/platform/positionmanager.yaml
  infrastructure/platform/pricemodel.yaml
  libraries/python/src/pocketsizefund/storage.py
  libraries/python/tests/test_storage.py
  platform.yaml
  platform/positionmanager/.dockerignore
  platform/positionmanager/Dockerfile
  platform/positionmanager/platform.yaml
  platform/positionmanager/poetry.lock
  platform/positionmanager/pyproject.toml
  platform/positionmanager/src/positionmanager/__init__.py
  platform/positionmanager/src/positionmanager/entrypoint.py
  platform/positionmanager/uv.lock
  platform/pricemodel/.version
  platform/pricemodel/Dockerfile
  platform/pricemodel/pyproject.toml
  platform/pricemodel/requirements.txt
  platform/pricemodel/src/pricemodel/__init__.py
  platform/pricemodel/src/pricemodel/entrypoint.py
  platform/pricemodel/uv.lock
Due: lint, dead-code

linting
  .mise/tasks/platform/positionmanager/build
  .mise/tasks/platform/positionmanager/publish
  .mise/tasks/platform/pricemodel/publish
  .mise/tasks/platform/pricemodel/push
  Cargo.lock
  Cargo.toml
  infrastructure/chat.py
  libraries/python/src/pocketsizefund/config.py
  libraries/rust/src/data/client.rs
  libraries/rust/src/events/market.rs
  platform/dataprovider/src/main.rs
  pyproject.toml
  uv.lock
Due: lint, dead-code, rust-formatting, rust-linting

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .mise/tasks/infrastructure/up
  infrastructure/platform/positionmanager.yaml
  infrastructure/platform/pricemodel.yaml
  platform/positionmanager/pyproject.toml
  platform/positionmanager/src/positionmanager/entrypoint.py
Due: lint, dead-code

fix positionmanager
  .mise/config.toml
  Cargo.lock
  platform/discord/Cargo.toml
  platform/newsfeed/Cargo.toml
  platform/positionmanager/pyproject.toml
  platform/positionmanager/uv.lock
Due: none

fix positionmanager
  platform/positionmanager/pyproject.toml
  platform/positionmanager/src/positionmanager/entrypoint.py
Due: lint, dead-code

fix positionmanager
  .mise/tasks/infrastructure/up
  infrastructure/platform/chronos.yaml
  infrastructure/platform/discord.yaml
  infrastructure/platform/positionmanager.yaml
Due: none

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  Cargo.lock
  Cargo.toml
  infrastructure/platform/chronos.yaml
  infrastructure/platform/discord.yaml
  platform/broker/Cargo.toml
  platform/newsfeed/Cargo.toml
  platform/newsfeed/Dockerfile
  platform/newsfeed/compose.yaml
  platform/newsfeed/manifest.yaml
  platform/newsfeed/src/lib.rs
  platform/newsfeed/src/main.rs
  platform/newsfeed/test
Due: rust-formatting, rust-linting

updates
  .flox/env/manifest.lock
  .flox/env/manifest.toml
Due: none

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  Cargo.lock
  infrastructure/platform/chronos.yaml
  infrastructure/platform/discord.yaml
  platform/chronos/Cargo.toml
  platform/chronos/src/routes/events.rs
Due: rust-formatting, rust-linting

updates
  .mise/tasks/infrastructure/local/down
  .mise/tasks/infrastructure/local/kf/down
  .mise/tasks/infrastructure/local/kf/up
  .mise/tasks/infrastructure/local/observability
  .mise/tasks/infrastructure/local/platform/chronos
  .mise/tasks/infrastructure/local/platform/positionmanager
  .mise/tasks/infrastructure/local/platform/pricemodel
  .mise/tasks/infrastructure/local/platform/up
Due: none

Minor tweaks to "About" page
  README.md
  platform/frontend/about.html
Due: none

cleaning up
  .mise.toml
  .mise/tasks/infrastructure/up
  .mise/tasks/platform/discord/build
  .mise/tasks/platform/discord/publish
  Cargo.lock
  infrastructure/__init__.py
  infrastructure/knative/broker.yaml
  platform/chronos/manifest.yaml
  platform/discord/Cargo.toml
  platform/discord/Dockerfile
  platform/discord/compose.yaml
  platform/discord/manifest.yaml
  platform/discord/src/routes/message.rs
  platform/positionmanager/manifest.yaml
  platform/pricemodel/manifest.yaml
Due: lint, dead-code, rust-formatting, rust-linting

updates
  .flox/log/watchdog.42893.log
  .github/workflows/python.yaml
  .github/workflows/rust.yaml
Due: none

changes from review
  .flox/env/manifest.toml
  .github/workflows/publish-python-library.yaml
  .github/workflows/rust.yaml
  .mise/tasks/platform/newsfeed/build
  .mise/tasks/platform/newsfeed/publish
  .mise/tasks/platform/newsfeed/run
  .mise/tasks/platform/positionmanager/build
  .mise/tasks/platform/pricemodel/build
  infrastructure/aws/cluster-config.yaml
  platform/positionmanager/.dockerignore
  platform/positionmanager/pyproject.toml
Due: none

testing
  .github/workflows/publish-python-library.yml
Due: none

Path conditions:
  lint: any of: \.py$
  dead-code: any of: \.py$
  rust-formatting: any of: \.rs$
  rust-linting: any of: \.rs$
