Repository pocketsizefund/pocketsizefund: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, dead-code, rust-formatting, rust-linting

lint:
  name: Lint
  entry: 'mise run lint:python
  
    '
  pass_filenames: false
  language: system

dead-code:
  name: Dead code
  entry: 'mise run check:dead-code
  
    '
  pass_filenames: false
  language: system

rust-formatting:
  name: Rust formatting
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: 'mise run fmt:rust
  
    '
  language: system

rust-linting:
  name: Rust linting with clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: 'mise run lint:rust
  
    '
  pass_filenames: false
  language: system

grafana/prometheus
  .mise.toml
Due: none

Moved api_check file to pkg/config; updated import paths.
  exec/infrastructure/positionmanager/entrypoint.py
  exec/infrastructure/pricemodel/entrypoint.py
  pkg/pocketsizefund/config/api_check.py
Due: lint, dead-code

fixing gh actions
  .mise.toml
Due: none

setting up newsfeed to run sentiment analysis on inputs
  .gitignore
  platform/newsfeed/.ipynb_checkpoints/Cargo-checkpoint.toml
  platform/newsfeed/.ipynb_checkpoints/avro-checkpoint.ipynb
  platform/newsfeed/Cargo.lock
  platform/newsfeed/Cargo.toml
  platform/newsfeed/Dockerfile
  platform/newsfeed/avro.ipynb
  platform/newsfeed/compose.yaml
  platform/newsfeed/deny.toml
  platform/newsfeed/src/.ipynb_checkpoints/listener-checkpoint.rs
  platform/newsfeed/src/lib.rs
  platform/newsfeed/src/main.rs
  platform/newsfeed/tests/newsfeed.rs
Due: rust-formatting, rust-linting

vibe check
  README.md
Due: none

Remove unused comments in the platform.yaml file
  platform.yaml
Due: none

Cleanup and reorder Mise configuration file
  .github/workflows/python.yml
  .mise.toml
Due: none

Deprecate SAM config references
  libraries/python/pocketsizefund/config/config.py
  pipelines/pricemodel/main.py
Due: lint, dead-code

Deprecate bin/ resources
  bin/__init__.py
  bin/backfill_data
  bin/build_image
  bin/download_data
  bin/helpers/__init__.py
  bin/helpers/backfill_data.py
  bin/helpers/download_data.py
  bin/helpers/ecr_lifecycle_policy.json
  bin/helpers/get_name.py
  bin/launch_stack
  bin/push_image
  bin/teardown_stack
Due: lint, dead-code

Cleanup Rust GitHub actions definition
  .github/workflows/rust.yml
  .pre-commit-config.yaml
Due: none

Update Poetry lock files
  platform/positionmanager/poetry.lock
  platform/pricemodel/poetry.lock
  poetry.lock
Due: none

Took a stab at entrypoint.py API checks
  bin/helpers/api_check.py
  platform/positionmanager/entrypoint.py
  platform/pricemodel/entrypoint.py
Due: lint, dead-code

Moved api_check file to pkg/config; updated import paths.
  pkg/pocketsizefund/config/api_check.py
  platform/positionmanager/entrypoint.py
  platform/pricemodel/entrypoint.py
Due: lint, dead-code

updating pulumi config
  .mise.toml
  README.md
  infrastructure/Pulumi.dev.yaml
  infrastructure/__main__.py
  libraries/python/pocketsizefund/model/model.py
  platform/discord/Cargo.lock
Due: lint, dead-code

WIP on event bus
  .mise.toml
  event_bus.py
  platform/positionmanager/Dockerfile
  platform/positionmanager/entrypoint.py
  platform/positionmanager/event_bus.py
  platform/positionmanager/poetry.lock
  platform/positionmanager/pyproject.toml
Due: lint, dead-code

create namespaces
  .mise.toml
  infrastructure/__main__.py
Due: lint, dead-code

move infrastructure to docker
  .mise.toml
  infrastructure/.dockerignore
  infrastructure/.gitignore
  infrastructure/Dockerfile
  infrastructure/Pulumi.development.yaml
  infrastructure/Pulumi.yaml
  infrastructure/__main__.py
  infrastructure/go.mod
  infrastructure/go.sum
  infrastructure/main.go
  infrastructure/requirements.txt
Due: lint, dead-code

Update README content and links
  README.md
  libraries/python/pocketsizefund/config/config.py
  libraries/python/pocketsizefund/model/model.py
  pkg/pocketsizefund/config/api_check.py
  platform/positionmanager/entrypoint.py
  platform/pricemodel/entrypoint.py
Due: lint, dead-code

setting up newsfeed to run sentiment analysis on inputs
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  platform/discord/src/listener.rs
  platform/discord/src/main.rs
  platform/newsfeed/Cargo.lock
  platform/newsfeed/Cargo.toml
  platform/newsfeed/Dockerfile
  platform/newsfeed/compose.yaml
  platform/newsfeed/deny.toml
  platform/newsfeed/src/lib.rs
  platform/newsfeed/src/main.rs
  platform/newsfeed/test
Due: rust-formatting, rust-linting

some cleanups
  .mise.toml
  infrastructure/main.go
  libraries/python/pocketsizefund/config/config.py
  libraries/python/tests/test_api_key_required.py
  platform/positionmanager/entrypoint.py
Due: lint, dead-code

cleanup some linting errors
  .github/workflows/python.yml
  libraries/python/pocketsizefund/model/model.py
  libraries/python/tests/test_api_key_required.py
  pipelines/filings/config.py
  platform/positionmanager/entrypoint.py
  platform/positionmanager/event_bus.py
Due: lint, dead-code

setting up newsfeed to run sentiment analysis on inputs
  platform/discord/Cargo.
Due: none

Deprecate unused trade methods/add "baseline buy" method
  .mise.toml
  libraries/python/pocketsizefund/config/config.py
  libraries/python/pocketsizefund/trade/trade.py
  libraries/python/tests/test_trade.py
  platform/positionmanager/entrypoint.py
Due: lint, dead-code

create shell rust libary
  .gitignore
  .mise/tasks/libraries/rust/build
  .mise/tasks/libraries/rust/publish
  .mise/tasks/libraries/rust/test
  libraries/rust/Cargo.lock
  libraries/rust/Cargo.toml
  libraries/rust/deny.toml
  libraries/rust/src/lib.rs
  libraries/rust/src/polygon.rs
  libraries/rust/src/schema/asset_class.rs
  libraries/rust/src/schema/exchange.rs
  libraries/rust/src/schema/locale.rs
  libraries/rust/src/schema/mod.rs
  libraries/rust/src/schema/ticker.rs
Due: rust-formatting, rust-linting

Minor updates to the main README
  .github/workflows/python.yml
  .github/workflows/repo.yaml
  .github/workflows/rust.yml
  README.md
Due: none

bunch of stuff from friday
  .mise.toml
  .mise/config.toml
  .mise/tasks/infrastructure/k8s/config/sync
  .mise/tasks/infrastructure/k8s/secrets/development/sync
  .mise/tasks/infrastructure/k8s/secrets/live/sync
  .mise/tasks/infrastructure/k8s/secrets/paper/sync
  .mise/tasks/platform/positionmanager/deploy/all
  .mise/tasks/platform/positionmanager/deploy/development
  .mise/tasks/platform/positionmanager/deploy/live
  .mise/tasks/platform/positionmanager/deploy/paper
  .mise/tasks/platform/positionmanager/publish
  .mise/tasks/platform/positionmanager/run
  .mise/tasks/python/dead-code
  .mise/tasks/rust/lint
  infrastructure/Pulumi.development.yaml
  infrastructure/Pulumi.yaml
  infrastructure/main.go
  libraries/python/dist/pocketsizefund-0.2.0-py3-none-any.whl
  libraries/python/dist/pocketsizefund-0.2.0.tar.gz
  libraries/python/pyproject.toml
  platform/positionmanager/Dockerfile
  platform/positionmanager/compose.yaml
  platform/positionmanager/entrypoint.py
  platform/positionmanager/event_bus.py
  platform/positionmanager/manifest.yaml
  platform/positionmanager/platform.yaml
  platform/positionmanager/poetry.lock
  platform/positionmanager/pyproject.toml
  platform/pricemodel/entrypoint.py
  platform/pricemodel/manifest.yaml
  platform/pricemodel/pyproject.toml
Due: lint, dead-code

move monitoring to pulumi
  .mise/config.toml
  .mise/tasks/infrastructure/grafana/get-password
  .mise/tasks/infrastructure/grafana/install
  .mise/tasks/infrastructure/grafana/launch
  .mise/tasks/infrastructure/helm/install
  .mise/tasks/infrastructure/helm/update
  .mise/tasks/infrastructure/k8s/config/sync
  .mise/tasks/infrastructure/prometheus/install
  infrastructure/.dockerignore
  infrastructure/Dockerfile
  infrastructure/Pulumi.development.yaml
  infrastructure/Pulumi.yaml
  infrastructure/go.mod
  infrastructure/go.sum
  infrastructure/main.go
Due: none

add deploy tasks for price model
  .mise/config.toml
  .mise/tasks/platform/positionmanager/publish
  .mise/tasks/platform/positionmanager/run
  .mise/tasks/platform/pricemodel/deploy/all
  .mise/tasks/platform/pricemodel/deploy/development
  .mise/tasks/platform/pricemodel/deploy/live
  .mise/tasks/platform/pricemodel/deploy/paper
  .mise/tasks/repo/setup
Due: none

working on rust lib
  .gitignore
  .mise.toml
  .mise/config.toml
  .mise/tasks/libraries/rust/build
  .mise/tasks/repo/lint
  libraries/rust/Cargo.lock
  libraries/rust/Cargo.toml
  libraries/rust/src/lib.rs
  libraries/rust/src/logger.rs
  libraries/rust/src/schema/exchange.rs
  libraries/rust/src/schema/market/holidays.rs
  libraries/rust/src/schema/market/mod.rs
  libraries/rust/src/schema/market/status.rs
  libraries/rust/src/schema/mod.rs
  libraries/rust/src/schema/prelude.rs
  libraries/rust/src/schema/symbol.rs
  libraries/rust/src/schema/ticker.rs
  platform/discord/Cargo.
Due: rust-formatting, rust-linting

gitignore all rust targets
  .gitignore
Due: none

bunch of stuff from friday
  .mise.toml
  .mise/config.toml
  .mise/tasks/infrastructure/k8s/config/sync
  .mise/tasks/infrastructure/k8s/secrets/development/sync
  .mise/tasks/infrastructure/k8s/secrets/live/sync
  .mise/tasks/infrastructure/k8s/secrets/paper/sync
  .mise/tasks/libraries/rust/lint
  .mise/tasks/platform/positionmanager/deploy/all
  .mise/tasks/platform/positionmanager/deploy/development
  .mise/tasks/platform/positionmanager/deploy/live
  .mise/tasks/platform/positionmanager/deploy/paper
  .mise/tasks/platform/positionmanager/publish
  .mise/tasks/platform/positionmanager/run
  .mise/tasks/python/dead-code
  .mise/tasks/rust/lint
  infrastructure/Pulumi.development.yaml
  infrastructure/Pulumi.yaml
  infrastructure/main.go
  libraries/python/dist/pocketsizefund-0.2.0-py3-none-any.whl
  libraries/python/dist/pocketsizefund-0.2.0.tar.gz
  libraries/python/pyproject.toml
  platform/positionmanager/Dockerfile
  platform/positionmanager/compose.yaml
  platform/positionmanager/entrypoint.py
  platform/positionmanager/event_bus.py
  platform/positionmanager/manifest.yaml
  platform/positionmanager/platform.yaml
  platform/positionmanager/poetry.lock
  platform/positionmanager/pyproject.toml
  platform/pricemodel/entrypoint.py
  platform/pricemodel/manifest.yaml
  platform/pricemodel/pyproject.toml
Due: lint, dead-code

add infrastructure
  infrastructure/core/.dockerignore
  infrastructure/core/Dockerfile
  infrastructure/core/Pulumi.development.yaml
  infrastructure/core/Pulumi.yaml
  infrastructure/core/go.mod
  infrastructure/core/go.sum
  infrastructure/core/main.go
  infrastructure/kubeflow/Pulumi.kubeflow.yaml
  infrastructure/kubeflow/Pulumi.yaml
  infrastructure/kubeflow/go.mod
  infrastructure/kubeflow/go.sum
  infrastructure/kubeflow/main.go
  platform/discord/Cargo.lock
  platform/newsfeed/Cargo.lock
Due: none

add cicd mise task
  .mise/tasks/cicd
Due: none

Create initial Rust pubsub librari
  .gitignore
  Cargo.lock
  Cargo.toml
  libraries/rust/event/Cargo.toml
  libraries/rust/event/src/lib.rs
  libraries/rust/event/src/publisher.rs
  libraries/rust/event/src/subscriber.rs
Due: rust-formatting, rust-linting

Path conditions:
  lint: any of: \.py$
  dead-code: any of: \.py$
  rust-formatting: any of: \.rs$
  rust-linting: any of: \.rs$
