Repository pocketsizefund/pocketsizefund: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, dead-code, rust-formatting, rust-linting

lint:
  name: Lint
  entry: 'mise run lint:python
  
    '
  pass_filenames: false
  language: system

dead-code:
  name: Dead code
  entry: 'mise run check:dead-code
  
    '
  pass_filenames: false
  language: system

rust-formatting:
  name: Rust formatting
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: 'mise run fmt:rust
  
    '
  language: system

rust-linting:
  name: Rust linting with clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: 'mise run lint:rust
  
    '
  pass_filenames: false
  language: system

rebase
  .mise/tasks/platform/discord/build
Due: none

updating mise
  .mise/config.toml
  .mise/tasks/platform/discord/build
  Cargo.lock
Due: none

trying out test containers
  libraries/rust/data/tests/test_s3.rs
Due: rust-formatting, rust-linting

discord events to library
  Cargo.lock
  libraries/rust/Cargo.toml
  libraries/rust/src/data/client.rs
  libraries/rust/src/event/mod.rs
  libraries/rust/src/event/publisher.rs
  libraries/rust/src/event/subscriber.rs
  libraries/rust/src/events/discord/mod.rs
  libraries/rust/src/events/discord/webhook.rs
  libraries/rust/src/events/discord/wh.rs
  libraries/rust/src/events/meta.rs
  libraries/rust/src/events/mod.rs
  libraries/rust/src/lib.rs
  libraries/rust/src/logger.rs
  libraries/rust/src/ml/Cargo.toml
  libraries/rust/src/ml/src/main.rs
  platform/discord/Cargo.toml
  platform/discord/src/routes/health.rs
  platform/discord/src/routes/message.rs
  platform/discord/tests/test_send_message.rs
Due: rust-formatting, rust-linting

Create initial data provider platform service
  .mise/tasks/platform/dataprovider/build
  .mise/tasks/platform/dataprovider/deploy
  .mise/tasks/platform/dataprovider/down
  .mise/tasks/platform/dataprovider/publish
  .mise/tasks/platform/dataprovider/run
  .mise/tasks/platform/dataprovider/test
  Cargo.lock
  Cargo.toml
  platform/dataprovider/Cargo.toml
  platform/dataprovider/Dockerfile
  platform/dataprovider/compose.yaml
  platform/dataprovider/src/main.rs
Due: rust-formatting, rust-linting

Create "always write" implementation for data "write" method
  libraries/rust/src/data/client.rs
  platform/datacollector/src/main.rs
Due: rust-formatting, rust-linting

Create initial data collector platform servivce
  .github/workflows/coverage.yaml
  .github/workflows/python.yml
  .gitignore
  .mise/config.toml
  .mise/tasks/platform/datacollector/build
  .mise/tasks/platform/datacollector/deploy
  .mise/tasks/platform/datacollector/down
  .mise/tasks/platform/datacollector/publish
  .mise/tasks/platform/datacollector/run
  .mise/tasks/platform/datacollector/test
  .mise/tasks/python/dead-code
  .mise/tasks/python/lint
  .mise/tasks/rust/audit
  .mise/tasks/rust/machete
  Cargo.lock
  Cargo.toml
  deny.toml
  libraries/python/pocketsizefund/data.py
  libraries/python/pocketsizefund/trade.py
  libraries/rust/src/data/client.rs
  libraries/rust/src/schema/market/status.rs
  platform/datacollector/Cargo.toml
  platform/datacollector/Dockerfile
  platform/datacollector/compose.yaml
  platform/datacollector/src/main.rs
  platform/datacollector/src/tickers.rs
  platform/discord/Cargo.toml
  platform/newsfeed/Cargo.toml
  platform/newsfeed/src/main.rs
  pyproject.toml
Due: lint, dead-code, rust-formatting, rust-linting

Add "About" section to website
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/SECURITY.md
  README.md
  platform/frontend/about.html
  platform/frontend/index.html
Due: none

add k8s config sync task
  .mise/tasks/infrastructure/config/sync
Due: none

add discord link to homepage
  platform/frontend/index.html
Due: none

infra cleanups
  .mise/tasks/infrastructure/down
  infrastructure/aws/grafana.tf
  infrastructure/core/main.go
Due: none

add chronos to infra
  infrastructure/platform/chronos.yaml
  infrastructure/platform/main.tf
Due: none

Add "About" section to website
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/SECURITY.md
  .github/workflows/python.yml
  .mise/config.toml
  .mise/tasks/platform/datacollector/build
  .mise/tasks/platform/datacollector/down
  .mise/tasks/platform/dataprovider/build
  .mise/tasks/platform/dataprovider/down
  .mise/tasks/platform/dataprovider/publish
  README.md
  platform/frontend/about.html
  platform/frontend/index.html
Due: none

Add fixes for website deployment
  amplify.yml
Due: none

update workspace
  Cargo.toml
Due: none

Build initial Rust data package
  Cargo.toml
  hello
  libraries/rust/data/Cargo.toml
  libraries/rust/data/src/client.rs
  libraries/rust/data/src/lib.rs
  libraries/rust/event/Cargo.toml
  libraries/rust/event/src/lib.rs
  libraries/rust/event/src/publisher.rs
  libraries/rust/event/src/subscriber.rs
  libraries/rust/schema/Cargo.toml
  libraries/rust/schema/src/asset_class.rs
  libraries/rust/schema/src/bar.rs
  libraries/rust/schema/src/exchange.rs
  libraries/rust/schema/src/lib.rs
  libraries/rust/schema/src/locale.rs
  libraries/rust/schema/src/market/holidays.rs
  libraries/rust/schema/src/market/mod.rs
  libraries/rust/schema/src/market/status.rs
  libraries/rust/schema/src/prelude.rs
  libraries/rust/schema/src/ticker.rs
  libraries/rust/src/logger.rs
  libraries/rust/src/polygon.rs
  libraries/rust/src/schema/symbol.rs
Due: rust-formatting, rust-linting

rebase
  Cargo.lock
Due: none

updating mise
  .mise/tasks/platform/discord/build
Due: none

knative eventing
  .mise/tasks/platform/discord/build
  .mise/tasks/platform/discord/deploy/all
  .mise/tasks/platform/discord/deploy/development
  .mise/tasks/platform/discord/deploy/live
  .mise/tasks/platform/discord/deploy/paper
  .mise/tasks/platform/discord/deploy~HEAD
  .mise/tasks/repo/setup
  Cargo.lock
  infrastructure/core/main.go
  infrastructure/kubeflow/Pulumi.kubeflow.yaml
  infrastructure/kubeflow/main.go
  libraries/rust/data/src/client.rs
  libraries/rust/schema/src/bar.rs
  libraries/rust/schema/src/lib.rs
  libraries/rust/schema/src/market/status.rs
  libraries/rust/schema/src/ticker.rs
  pipelines/pricemodel/convert_to_onnx.py
  platform/discord/Cargo.lock
  platform/discord/Dockerfile
  platform/discord/manifest.yaml
  platform/discord/src/routes/message.rs
  platform/positionmanager/entrypoint.py
Due: lint, dead-code, rust-formatting, rust-linting

Add "About" section to website
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/SECURITY.md
  .github/workflows/python.yml
  .mise/tasks/platform/datacollector/build
  .mise/tasks/platform/datacollector/down
  .mise/tasks/platform/dataprovider/build
  .mise/tasks/platform/dataprovider/publish
  README.md
  platform/frontend/about.html
  platform/frontend/index.html
Due: none

Add fixes for website deployment
  amplify.yml
  platform/dataprovider/Cargo.toml
Due: none

local k8s + knative setup
  .mise/tasks/infrastructure/local/down
  .mise/tasks/infrastructure/local/up
  infrastructure/platform/chronos.yaml
Due: none

add simple chatbot
  .gitignore
  infrastructure/chat.py
Due: lint, dead-code

testing
  .flox/.gitignore
  .github/workflows/publish-python-library.yml
  .mise/config.toml
  .mise/tasks/libraries/python/publish
  .mise/tasks/libraries/python/test
  libraries/python/README.md
  libraries/python/pocketsizefund/config.py
  libraries/python/pocketsizefund/event/__init__.py
  libraries/python/pocketsizefund/event/event.py
  libraries/python/poetry.lock
  libraries/python/pyproject.toml
  libraries/python/src/python/__init__.py
  libraries/python/tests/test_config.py
  libraries/python/tests/test_data.py
  libraries/python/tests/test_event.py
  libraries/python/tests/test_storage.py
  libraries/python/tests/test_trade.py
  poetry.lock
  pyproject.toml
  uv.lock
Due: lint, dead-code

testing
  .github/workflows/publish-python-library.yml
Due: none

testing
  .github/workflows/publish-python-library.yml
  libraries/python/src/pocketsizefund/__init__.py
  libraries/python/src/pocketsizefund/config.py
  libraries/python/src/pocketsizefund/data.py
  libraries/python/src/pocketsizefund/model.py
  libraries/python/src/pocketsizefund/storage.py
  libraries/python/src/pocketsizefund/trade.py
  libraries/python/src/python/__init__.py
Due: lint, dead-code

testing
  libraries/python/pyproject.toml
Due: none

testing
  .github/workflows/python.yml
Due: none

Path conditions:
  lint: any of: \.py$
  dead-code: any of: \.py$
  rust-formatting: any of: \.rs$
  rust-linting: any of: \.rs$
