Repository pocketsizefund/pocketsizefund: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, dead-code, rust-formatting, rust-linting

lint:
  name: Lint
  entry: 'mise run lint:python
  
    '
  pass_filenames: false
  language: system

dead-code:
  name: Dead code
  entry: 'mise run check:dead-code
  
    '
  pass_filenames: false
  language: system

rust-formatting:
  name: Rust formatting
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: 'mise run fmt:rust
  
    '
  language: system

rust-linting:
  name: Rust linting with clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: 'mise run lint:rust
  
    '
  pass_filenames: false
  language: system

Rebuild full Python package and management
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
  .github/workflows/repo.yaml
  .gitignore
  .mise/config.toml
  .mise/tasks/libraries/python/build
  .mise/tasks/libraries/python/setup
  .mise/tasks/libraries/python/test
  .mise/tasks/python/dead-code
  .mise/tasks/python/fix
  .mise/tasks/python/format
  .mise/tasks/python/lint
  .mise/tasks/python/test
  .mise/tasks/repo/lint
  .mise/tasks/repo/setup
  libraries/python/.mise.toml
  libraries/python/__init__.py
  libraries/python/library/__init__.py
  libraries/python/library/config.py
  libraries/python/library/events.py
  libraries/python/poetry.lock
  libraries/python/pyproject.toml
  libraries/python/src/pocketsizefund/__init__.py
  libraries/python/src/pocketsizefund/model.py
  libraries/python/src/pocketsizefund/trade.py
  libraries/python/tests/__init__.py
  libraries/python/tests/test_events.py
  libraries/python/tests/test_trade.py
  platform/pricemodel/src/pricemodel/entrypoint.py
  pyproject.toml
  uv.lock
Due: lint, dead-code

Cleanup Rust library and eventing logic
  .github/workflows/rust.yaml
  .mise/tasks/libraries/rust/build
  .mise/tasks/libraries/rust/lint
  .mise/tasks/libraries/rust/test
  .mise/tasks/rust/audit
  .mise/tasks/rust/build
  .mise/tasks/rust/format
  .mise/tasks/rust/lint
  .mise/tasks/rust/machete
  .mise/tasks/rust/test
  libraries/rust/src/data/client.rs
  libraries/rust/src/events/events.rs
  libraries/rust/src/events/mod.rs
  libraries/rust/src/trade/market.rs
  libraries/rust/src/trade/mod.rs
  platform/chronos/src/routes/events.rs
  platform/chronos/tests/test_chron.rs
Due: rust-formatting, rust-linting

Create data fetcher service and refactor collector service
  .mise/tasks/platform/datafetcher/build
  .mise/tasks/platform/datafetcher/down
  .mise/tasks/platform/datafetcher/publish
  .mise/tasks/platform/datafetcher/run
  .mise/tasks/platform/datafetcher/test
  Cargo.lock
  Cargo.toml
  infrastructure/platform/datafetcher.yaml
  libraries/rust/src/data/client.rs
  platform/datafetcher/Cargo.toml
  platform/datafetcher/Dockerfile
  platform/datafetcher/compose.yaml
  platform/datafetcher/src/main.rs
Due: rust-formatting, rust-linting

Add fixes for Python workspace
  .github/workflows/coverage.yaml
  libraries/python/__init__.py
  libraries/python/pyproject.toml
  pyproject.toml
  uv.lock
Due: lint, dead-code

Change order for TOML keys
  pyproject.toml
  uv.lock
Due: none

Revert TOML keys back
  pyproject.toml
  uv.lock
Due: none

Fix typo in TOML
  pyproject.toml
Due: none

Add keys to library package TOML
  libraries/python/pyproject.toml
Due: none

Change GitHub action Python manager to uv
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
Due: none

Change Python installation in GitHub actions
  .github/workflows/python.yaml
Due: none

Generate uv.lock with upgrade uv
  uv.lock
Due: none

Minor tweaks to Python GitHub workflow
  .github/workflows/python.yaml
Due: none

Update GitHub badge links in README
  README.md
Due: none

Fix Coveralls badge link
  README.md
Due: none

Update Mise and pre-commit
  .mise.toml
  .mise/tasks/cicd
  .pre-commit-config.yaml
  README.md
Due: none

Change GitHub workflow triggers to "push"
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
  .github/workflows/rust.yaml
Due: none

Fix typo in GitHub trigger
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
  .github/workflows/rust.yaml
Due: none

Build general trade execution methods
  .mise/tasks/rust/lint
  deny.toml
  libraries/rust/src/events/builder.rs
  libraries/rust/src/events/mod.rs
  libraries/rust/src/trade/client.rs
  libraries/rust/src/trade/mod.rs
  platform/chronos/src/routes/events.rs
  platform/datacollector/src/main.rs
  platform/datafetcher/src/main.rs
  platform/dataprovider/src/main.rs
  platform/metricsreporter/src/main.rs
  platform/positionmanager/src/main.rs
Due: rust-formatting, rust-linting

Swap Rust library error handling for enums
  .mise/tasks/rust/lint
  Cargo.lock
  libraries/rust/Cargo.toml
  libraries/rust/src/data/client.rs
  libraries/rust/src/data/mod.rs
  libraries/rust/src/trade/client.rs
  libraries/rust/src/trade/mod.rs
  platform/chronos/Cargo.toml
  platform/datacollector/Cargo.toml
  platform/datacollector/src/main.rs
  platform/datafetcher/src/main.rs
  platform/dataprovider/src/main.rs
  platform/metricsreporter/src/main.rs
  platform/positionmanager/src/main.rs
Due: rust-formatting, rust-linting

Unify Alpaca API key and secret references
  .mise/tasks/infrastructure/up
  infrastructure/platform/chronos.yaml
Due: none

Cleanup all Kubernetes resource and service names
  Cargo.lock
  Cargo.toml
  infrastructure/platform/chronos.yaml
  infrastructure/platform/datacollector.yaml
  infrastructure/platform/datafetcher.yaml
  infrastructure/platform/dataprovider.yaml
  infrastructure/platform/discordbot.yaml
  infrastructure/platform/metricsreporter.yaml
  infrastructure/platform/positionmanager.yaml
  infrastructure/platform/pricemodel.yaml
  platform/chronos/compose.yaml
  platform/discord/Cargo.lock
  platform/discord/tests/test_send_message.rs
  platform/discordbot/.dockerignore
  platform/discordbot/Cargo.toml
  platform/discordbot/Dockerfile
  platform/discordbot/compose.yaml
  platform/discordbot/src/config.rs
  platform/discordbot/src/lib.rs
  platform/discordbot/src/main.rs
  platform/discordbot/src/routes/health.rs
  platform/discordbot/src/routes/message.rs
  platform/discordbot/src/routes/mod.rs
  platform/discordbot/tests/test_health_check.rs
Due: rust-formatting, rust-linting

Add service build and publish GitHub action
  .github/workflows/rust.yaml
  .github/workflows/service.yaml
  .gitignore
  .mise/tasks/infrastructure/down
  .mise/tasks/infrastructure/up
  .mise/tasks/platform/build
  .mise/tasks/platform/down
  .mise/tasks/platform/publish
Due: none

Build initial automation for infrastructure
  .github/workflows/images/position-manager.yaml
  .github/workflows/images/price-model.yaml
  .github/workflows/infrastructure.yaml
Due: none

Consolidate Mise configurations
  .mise.toml
  .mise/config.toml
Due: none

Update installation instructions and add tinygrad
  README.md
  pyproject.toml
  uv.lock
Due: none

Remove unwrap statements from library/services
  .github/workflows/platform.yaml
  .mise/tasks/platform/ping
  .mise/tasks/platform/run
  libraries/rust/src/data/client.rs
  platform/chronos/Cargo.lock
  platform/chronos/compose.yaml
  platform/datacollector/compose.yaml
  platform/datafetcher/compose.yaml
  platform/dataprovider/compose.yaml
  platform/discordbot/.dockerignore
  platform/discordbot/Dockerfile
  platform/discordbot/compose.yaml
  platform/discordbot/src/config.rs
  platform/discordbot/src/main.rs
  platform/metricsreporter/compose.yaml
  platform/metricsreporter/src/main.rs
  platform/positionmanager/compose.yaml
  platform/positionmanager/src/main.rs
  platform/pricemodel/compose.yaml
  platform/pricemodel/src/pricemodel/entrypoint.py
Due: lint, dead-code, rust-formatting, rust-linting

Update Cargo dependencies as per Dependabot recommendations
  Cargo.lock
Due: none

add dummy trainer
  platform/pricemodel/pipeline.py
  platform/pricemodel/pyproject.toml
  platform/pricemodel/uv.lock
Due: lint, dead-code

split for org
  platform/pricemodel/pipeline/data.py
  platform/pricemodel/pipeline/main.py
  platform/pricemodel/pipeline/model.py
  platform/pricemodel/pipeline/trainer.py
Due: lint, dead-code

update data pipeline
  platform/pricemodel/pipeline/data.py
  platform/pricemodel/pipeline/main.py
Due: lint, dead-code

fix training dates
  platform/pricemodel/pipeline/data.py
  platform/pricemodel/pipeline/main.py
Due: lint, dead-code

Rebuild initial TFT components in tinygrad
  platform/pricemodel/attention.py
  platform/pricemodel/components.py
  platform/pricemodel/elements.py
  platform/pricemodel/embedding.py
  platform/pricemodel/gated_residual_network.py
  platform/pricemodel/interpolation.py
  platform/pricemodel/lstm.py
  platform/pricemodel/model.py
  platform/pricemodel/model_temp.py
  platform/pricemodel/pipeline/data.py
  platform/pricemodel/pipeline/main.py
  platform/pricemodel/pipeline/trainer.py
  platform/pricemodel/preprocessor.py
  platform/pricemodel/resample.py
  platform/pricemodel/temp.py
  platform/pricemodel/variable_selection_network.py
  uv.lock
Due: lint, dead-code

Implement most of the TFT "forward" method
  platform/pricemodel/lstm.py
  platform/pricemodel/model.py
  platform/pricemodel/preprocessor.py
  platform/pricemodel/variable_selection_network.py
Due: lint, dead-code

Add partial updates for manual testing
  platform/pricemodel/attention.py
  platform/pricemodel/embedding.py
  platform/pricemodel/gated_residual_network.py
  platform/pricemodel/interpolation.py
  platform/pricemodel/lstm.py
  platform/pricemodel/notes.txt
  platform/pricemodel/preprocessor.py
  platform/pricemodel/test_attention.py
  platform/pricemodel/test_embedding.py
  platform/pricemodel/test_gated_residual_network.py
  platform/pricemodel/test_interpolation.py
  platform/pricemodel/test_lstm.py
  platform/pricemodel/test_preprocessor.py
  platform/pricemodel/test_variable_selection_network.py
  platform/pricemodel/variable_selection_network.py
  pyproject.toml
  uv.lock
Due: lint, dead-code

Add basic tests for variable selection network
  platform/pricemodel/embedding.py
  platform/pricemodel/resample.py
  platform/pricemodel/test_variable_selection_network.py
  platform/pricemodel/variable_selection_network.py
Due: lint, dead-code

Add minor cleanup
  platform/pricemodel/attention.py
  platform/pricemodel/embedding.py
  platform/pricemodel/lstm.py
Due: lint, dead-code

Path conditions:
  lint: any of: \.py$
  dead-code: any of: \.py$
  rust-formatting: any of: \.rs$
  rust-linting: any of: \.rs$
