Repository pocketsizefund/pocketsizefund: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, dead-code, rust-formatting, rust-linting

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: lint
      name: Lint
      entry: |
        mise run lint:python
      pass_filenames: false
      types: [file, python]
      language: system
    - id: dead-code
      name: Dead code
      entry: |
        mise run check:dead-code
      pass_filenames: false
      types: [file, python]
      language: system
    - id: rust-formatting
      name: Rust formatting
      description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
      entry: |
          mise run fmt:rust
      types: [file, rust]
      language: system
    - id: rust-linting
      name: Rust linting with clippy
      description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
      entry: |
          mise run lint:rust
      pass_filenames: false
      types: [file, rust]
      language: system

Build initial Python pubsub package and unit tests
  libraries/python/pocketsizefund/event/__init__.py
  libraries/python/pocketsizefund/event/event.py
  libraries/python/poetry.lock
  libraries/python/pyproject.toml
  libraries/python/tests/test_config.py
  libraries/python/tests/test_data.py
  libraries/python/tests/test_event.py
  libraries/python/tests/test_storage.py
  libraries/python/tests/test_trade.py
  poetry.lock
  pyproject.toml
Due: lint, dead-code

add uuid for event feature
  libraries/rust/Cargo.toml
Due: none

add cicd mise task
  .mise/tasks/cicd
Due: none

add uuid for event feature
  .github/workflows/python.yml
  .mise/tasks/repo/lint
  libraries/python/poetry.lock
  libraries/rust/Cargo.toml
  poetry.lock
  pyproject.toml
Due: none

Create initial Rust pubsub librari
  .gitignore
  Cargo.lock
  Cargo.toml
  libraries/python/pocketsizefund/event/__init__.py
  libraries/python/pocketsizefund/event/event.py
  libraries/python/poetry.lock
  libraries/python/pyproject.toml
  libraries/python/tests/test_config.py
  libraries/python/tests/test_data.py
  libraries/python/tests/test_event.py
  libraries/python/tests/test_storage.py
  libraries/python/tests/test_trade.py
  libraries/rust/Cargo.toml
  libraries/rust/src/event/mod.rs
  libraries/rust/src/event/publisher.rs
  libraries/rust/src/event/subscriber.rs
  libraries/rust/src/lib.rs
  poetry.lock
  pyproject.toml
Due: lint, dead-code, rust-formatting, rust-linting

remove .prefectignore
  .prefectignore
Due: none

Build initial Rust data package
  Cargo.lock
  Cargo.toml
  deny.toml
  libraries/rust/Cargo.lock
  libraries/rust/Cargo.toml
  libraries/rust/data/Cargo.toml
  libraries/rust/data/src/client.rs
  libraries/rust/data/src/lib.rs
  libraries/rust/event/Cargo.toml
  libraries/rust/event/src/lib.rs
  libraries/rust/event/src/publisher.rs
  libraries/rust/event/src/subscriber.rs
  libraries/rust/schema/Cargo.toml
  libraries/rust/schema/src/asset_class.rs
  libraries/rust/schema/src/bar.rs
  libraries/rust/schema/src/exchange.rs
  libraries/rust/schema/src/lib.rs
  libraries/rust/schema/src/locale.rs
  libraries/rust/schema/src/market/holidays.rs
  libraries/rust/schema/src/market/mod.rs
  libraries/rust/schema/src/market/status.rs
  libraries/rust/schema/src/prelude.rs
  libraries/rust/schema/src/ticker.rs
  libraries/rust/src/lib.rs
  libraries/rust/src/logger.rs
  libraries/rust/src/polygon.rs
  libraries/rust/src/schema/symbol.rs
Due: rust-formatting, rust-linting

discord to knative
  libraries/python/dist/pocketsizefund-0.2.0-py3-none-any.whl
  libraries/python/dist/pocketsizefund-0.2.0.tar.gz
Due: none

knative eventing
  Cargo.lock
  Cargo.toml
  infrastructure/core/main.go
  libraries/rust/ml/Cargo.toml
  libraries/rust/ml/src/main.rs
  pipelines/pricemodel/convert_to_onnx.py
  pipelines/pricemodel/data.csv
  pipelines/pricemodel/main.py
  platform/discord/Cargo.toml
  platform/discord/manifest.yaml
  platform/discord/src/config.rs
  platform/discord/src/lib.rs
  platform/discord/src/listener.rs
  platform/discord/src/main.rs
  platform/discord/src/routes/health.rs
  platform/discord/src/routes/message.rs
  platform/discord/src/routes/mod.rs
  platform/discord/tests/test_health_check.rs
  platform/discord/tests/test_send_message.rs
  platform/positionmanager/entrypoint.py
Due: lint, dead-code, rust-formatting, rust-linting

updates
  .gitignore
  .mise/tasks/infrastructure/down
  .mise/tasks/infrastructure/kubeflow/build
  .mise/tasks/infrastructure/kubeflow/publish
  .mise/tasks/platform/pricemodel/deploy/paper
  .mise/tasks/platform/pricemodel/publish
Due: none

set up basic broker service
  platform/broker/Cargo.lock
  platform/broker/Cargo.toml
  platform/broker/src/main.rs
Due: rust-formatting, rust-linting

a bunch of stuff to get the thing working
  .mise/tasks/infrastructure/down
  .mise/tasks/infrastructure/kubeflow/publish
Due: none

Add initial data layer library
  Cargo.lock
  Cargo.toml
  libraries/rust/Cargo.lock
  libraries/rust/Cargo.toml
  libraries/rust/src/data/client.rs
  libraries/rust/src/data/mod.rs
  libraries/rust/src/lib.rs
  libraries/rust/src/schema/exchange.rs
  libraries/rust/src/schema/ticker.rs
Due: rust-formatting, rust-linting

update workspace
  Cargo.lock
  Cargo.toml
Due: none

trying out test containers
  libraries/rust/data/tests/test_s3.rs
Due: rust-formatting, rust-linting

rebase
  .mise/config.toml
  .mise/tasks/libraries/rust/build
  .mise/tasks/libraries/rust/lint
  .mise/tasks/libraries/rust/publish
  .mise/tasks/libraries/rust/test
  .mise/tasks/platform/discord/audit
  .mise/tasks/platform/discord/build
  .mise/tasks/platform/discord/format
  .mise/tasks/platform/discord/lint
  .mise/tasks/platform/discord/test
  .mise/tasks/platform/newsfeed/audit
  .mise/tasks/platform/newsfeed/build
  .mise/tasks/platform/newsfeed/format
  .mise/tasks/platform/newsfeed/lint
  .mise/tasks/platform/newsfeed/publish
  .mise/tasks/platform/newsfeed/test
  .mise/tasks/rust/lint
  Cargo.lock
Due: none

rebase
  Cargo.lock
Due: none

updating mise
  .mise/config.toml
  .mise/tasks/platform/discord/build
Due: none

fix workspace
  .mise/config.toml
  .mise/tasks/libraries/rust/build
  .mise/tasks/libraries/rust/lint
  .mise/tasks/libraries/rust/publish
  .mise/tasks/libraries/rust/test
  .mise/tasks/platform/discord/audit
  .mise/tasks/platform/discord/build
  .mise/tasks/platform/discord/format
  .mise/tasks/platform/discord/lint
  .mise/tasks/platform/discord/test
  .mise/tasks/platform/newsfeed/audit
  .mise/tasks/platform/newsfeed/build
  .mise/tasks/platform/newsfeed/format
  .mise/tasks/platform/newsfeed/lint
  .mise/tasks/platform/newsfeed/publish
  .mise/tasks/platform/newsfeed/test
  .mise/tasks/rust/lint
  Cargo.lock
  Cargo.toml
Due: none

update mise deps
  .mise/config.toml
  .mise/tasks/python/dead-code
  libraries/rust/src/data/client.rs
  pyproject.toml
Due: rust-formatting, rust-linting

ONNX + Rust
  libraries/rust/src/data/market/mod.rs
  pipelines/pricemodel/tft-model-checkpoint.ckpt
Due: rust-formatting, rust-linting

Build initial Rust data package
  Cargo.lock
  Cargo.toml
  deny.toml
  libraries/rust/data/Cargo.toml
  libraries/rust/data/src/client.rs
  libraries/rust/data/src/lib.rs
  libraries/rust/event/Cargo.toml
  libraries/rust/event/src/lib.rs
  libraries/rust/event/src/publisher.rs
  libraries/rust/event/src/subscriber.rs
  libraries/rust/schema/Cargo.toml
  libraries/rust/schema/src/asset_class.rs
  libraries/rust/schema/src/bar.rs
  libraries/rust/schema/src/exchange.rs
  libraries/rust/schema/src/lib.rs
  libraries/rust/schema/src/locale.rs
  libraries/rust/schema/src/market/holidays.rs
  libraries/rust/schema/src/market/mod.rs
  libraries/rust/schema/src/market/status.rs
  libraries/rust/schema/src/prelude.rs
  libraries/rust/schema/src/ticker.rs
  libraries/rust/src/logger.rs
  libraries/rust/src/polygon.rs
  libraries/rust/src/schema/symbol.rs
  pipelines/pricemodel/data.csv
Due: rust-formatting, rust-linting

rebase
  .mise/tasks/platform/discord/build
  Cargo.lock
Due: none

updating mise
  .mise/config.toml
  .mise/tasks/platform/discord/build
  Cargo.lock
Due: none

working on rust library
  Cargo.lock
  libraries/rust/Cargo.toml
  libraries/rust/src/data/bar.rs
  libraries/rust/src/data/clients/mod.rs
  libraries/rust/src/data/clients/polygon.rs
  libraries/rust/src/data/exchange.rs
  libraries/rust/src/data/indicators.rs
  libraries/rust/src/data/lib.rs
  libraries/rust/src/data/market/asset_class.rs
  libraries/rust/src/data/market/locale.rs
  libraries/rust/src/data/market/mod.rs
  libraries/rust/src/data/market/status.rs
  libraries/rust/src/data/mod.rs
  libraries/rust/src/data/src/lib.rs
  libraries/rust/src/data/src/ticker.rs
  libraries/rust/src/data/ticker.rs
  libraries/rust/src/lib.rs
  libraries/rust/src/prelude.rs
  libraries/rust/tests/test_tickers.rs
Due: rust-formatting, rust-linting

work on rust library
  libraries/rust/data/Cargo.toml
  libraries/rust/data/src/client.rs
  libraries/rust/data/src/lib.rs
  libraries/rust/event/Cargo.toml
  libraries/rust/event/src/lib.rs
  libraries/rust/event/src/publisher.rs
  libraries/rust/event/src/subscriber.rs
  libraries/rust/schema/Cargo.toml
  libraries/rust/src/data/asset_class.rs
  libraries/rust/src/data/bar.rs
  libraries/rust/src/data/client.rs
  libraries/rust/src/data/exchange.rs
  libraries/rust/src/data/lib.rs
  libraries/rust/src/data/market/asset_class.rs
  libraries/rust/src/data/market/holidays.rs
  libraries/rust/src/data/market/mod.rs
  libraries/rust/src/data/market/status.rs
  libraries/rust/src/data/mod.rs
  libraries/rust/src/data/src/lib.rs
  libraries/rust/src/data/src/locale.rs
  libraries/rust/src/data/src/prelude.rs
  libraries/rust/src/data/src/ticker.rs
  libraries/rust/src/lib.rs
Due: rust-formatting, rust-linting

Build initial Rust data package
  Cargo.lock
  Cargo.toml
  libraries/rust/data/Cargo.toml
  libraries/rust/data/src/client.rs
  libraries/rust/data/src/lib.rs
  libraries/rust/event/Cargo.toml
  libraries/rust/event/src/lib.rs
  libraries/rust/event/src/publisher.rs
  libraries/rust/event/src/subscriber.rs
  libraries/rust/schema/Cargo.toml
  libraries/rust/schema/src/asset_class.rs
  libraries/rust/schema/src/bar.rs
  libraries/rust/schema/src/exchange.rs
  libraries/rust/schema/src/lib.rs
  libraries/rust/schema/src/locale.rs
  libraries/rust/schema/src/market/holidays.rs
  libraries/rust/schema/src/market/mod.rs
  libraries/rust/schema/src/market/status.rs
  libraries/rust/schema/src/prelude.rs
  libraries/rust/schema/src/ticker.rs
  libraries/rust/src/logger.rs
  libraries/rust/src/polygon.rs
  libraries/rust/src/schema/symbol.rs
  pipelines/pricemodel/data.csv
Due: rust-formatting, rust-linting
