Repository pocketsizefund/pocketsizefund: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, dead-code, rust-formatting, rust-linting

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: lint
      name: Lint
      entry: |
        mise run lint:python
      pass_filenames: false
      types: [file, python]
      language: system
    - id: dead-code
      name: Dead code
      entry: |
        mise run check:dead-code
      pass_filenames: false
      types: [file, python]
      language: system
    - id: rust-formatting
      name: Rust formatting
      description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
      entry: |
          mise run fmt:rust
      types: [file, rust]
      language: system
    - id: rust-linting
      name: Rust linting with clippy
      description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
      entry: |
          mise run lint:rust
      pass_filenames: false
      types: [file, rust]
      language: system

fix conflicts
  pyproject.toml
Due: none

fix ruff
  infrastructure/__init__.py
  platform/pricemodel/src/pricemodel/entrypoint.py
Due: lint, dead-code

python formatting
  infrastructure/chat.py
  libraries/python/src/pocketsizefund/config.py
  libraries/python/tests/test_data.py
  libraries/python/tests/test_trade.py
  pipelines/pricemodel/convert_to_onnx.py
  pipelines/pricemodel/main.py
  platform/positionmanager/src/positionmanager/entrypoint.py
  platform/pricemodel/src/pricemodel/entrypoint.py
Due: lint, dead-code

fixes
  Cargo.lock
  infrastructure/Cargo.toml
  infrastructure/src/aws/mod.rs
  infrastructure/src/aws/s3.rs
  infrastructure/src/config.rs
  infrastructure/src/lib.rs
  infrastructure/src/main.rs
  infrastructure/src/willa.txt
  libraries/python/poetry.lock
  libraries/python/src/pocketsizefund/config.py
  libraries/python/src/pocketsizefund/data.py
  libraries/python/src/python/__init__.py
  libraries/python/tests/test_data.py
  libraries/python/tests/test_trade.py
  libraries/python/uv.lock
Due: lint, dead-code, rust-formatting, rust-linting

fixes
  Cargo.lock
  Cargo.toml
  platform/trader/Cargo.toml
Due: none

test fixes
  libraries/rust/src/events/market.rs
  platform/discordbot/tests/test_health_check.rs
  platform/discordbot/tests/test_send_message.rs
Due: rust-formatting, rust-linting

linting fixes
  platform/trader/src/routes/event.rs
Due: rust-formatting, rust-linting

infrastructure fixes
  infrastructure/.gitignore
  infrastructure/Cargo.toml
  infrastructure/Dockerfile
  infrastructure/Puppetfile
  infrastructure/bolt-project.yaml
  infrastructure/compose.yaml
  infrastructure/inventory.yaml
  infrastructure/plans/eks.pp
  infrastructure/platform/chronos.yaml
  infrastructure/platform/discord.yaml
  infrastructure/platform/positionmanager.yaml
  infrastructure/platform/pricemodel.yaml
  platform/discord/Dockerfile
  platform/discord/compose.yaml
Due: none

updates
  .mise/tasks/infrastructure/aws/eks
  .mise/tasks/infrastructure/monitoring
  .mise/tasks/infrastructure/namespaces
  .mise/tasks/infrastructure/platform
  infrastructure/knative/event-display.yaml
  infrastructure/knative/eventing-core.yaml
  infrastructure/knative/eventing-crds.yaml
  infrastructure/knative/eventing-tls-networking.yaml
  infrastructure/knative/eventing.yaml
  infrastructure/knative/in-memory-channel.yaml
  infrastructure/knative/mt-channel-broker.yaml
  platform/trader/compose.yaml
  platform/trader/src/routes/event.rs
  pyproject.toml
Due: rust-formatting, rust-linting

small changes to get data collector working
  .mise/tasks/infrastructure/secrets
  Cargo.lock
  Cargo.toml
  infrastructure/platform/datacollector.yaml
  platform/datacollector/Dockerfile
  platform/datacollector/compose.yaml
  platform/datacollector/src/main.rs
  platform/trader/compose.yaml
  pyproject.toml
  uv.lock
Due: rust-formatting, rust-linting

Add fixes for data layer services
  .mise/tasks/platform/datacollector/build
  .mise/tasks/platform/datacollector/publish
  .mise/tasks/platform/datacollector/test
  .mise/tasks/platform/dataprovider/build
  .mise/tasks/platform/dataprovider/deploy
  .mise/tasks/platform/dataprovider/publish
  Cargo.lock
  infrastructure/platform/datacollector.yaml
  infrastructure/platform/dataprovider.yaml
  platform/datacollector/Cargo.toml
  platform/datacollector/compose.yaml
  platform/datacollector/src/main.rs
  platform/dataprovider/Cargo.toml
  platform/dataprovider/src/main.rs
Due: rust-formatting, rust-linting

little fixes
  Cargo.lock
  platform/datacollector/Cargo.toml
  platform/datacollector/ping
  platform/datacollector/src/lib.rs
  platform/datacollector/src/main.rs
  platform/datacollector/src/routes/health.rs
  platform/datacollector/src/routes/mod.rs
  platform/datacollector/src/routes/tickers.rs
Due: rust-formatting, rust-linting

clippy
  platform/datacollector/src/routes/tickers.rs
Due: rust-formatting, rust-linting

init scrum master
  Cargo.lock
  Cargo.toml
  platform/scrum/Cargo.toml
  platform/scrum/Dockerfile
  platform/scrum/compose.yaml
  platform/scrum/manifest.yaml
  platform/scrum/ping
  platform/scrum/src/github/issues.rs
  platform/scrum/src/github/mod.rs
  platform/scrum/src/github/pull_requests.rs
  platform/scrum/src/lib.rs
  platform/scrum/src/main.rs
  platform/scrum/src/routes/event.rs
  platform/scrum/src/routes/health.rs
  platform/scrum/src/routes/issues.rs
  platform/scrum/src/routes/mod.rs
  platform/scrum/tests/test_health_check.rs
  platform/scrum/tests/test_issues.rs
Due: rust-formatting, rust-linting

python linting/fmt
  pipelines/filings/structs.py
  platform/pricemodel/src/pricemodel/entrypoint.py
  platform/pricemodel/src/pricemodel/trade.py
  uv.lock
Due: lint, dead-code

repo linting
  .mise/tasks/platform/scrum/build
  .mise/tasks/platform/scrum/publish
  .mise/tasks/platform/scrum/run
  .mise/tasks/platform/scrum/test
Due: none

updates to test
  platform/scrum/src/github/issues.rs
  platform/scrum/src/github/mod.rs
  platform/scrum/src/github/pull_requests.rs
  platform/scrum/src/lib.rs
  platform/scrum/src/routes/event.rs
  platform/scrum/src/routes/mod.rs
  platform/scrum/tests/test_issues.rs
Due: rust-formatting, rust-linting

ugh
  platform/pricemodel/src/pricemodel/pipeline/__init__.py
  platform/pricemodel/src/pricemodel/pipeline/grn.py
  platform/pricemodel/src/pricemodel/pipeline/legacy.py
  platform/pricemodel/src/pricemodel/pipeline/main.py
  platform/pricemodel/src/pricemodel/pipeline/sparse.py
  platform/pricemodel/src/pricemodel/pipeline/trainer.py
  platform/pricemodel/tests/__init__.py
  platform/pricemodel/tests/test_gated_add_norm.py
  platform/pricemodel/tests/test_gated_linear_unit.py
  platform/pricemodel/tests/test_time_distributed.py
Due: lint, dead-code

ugh
  platform/pricemodel/src/pricemodel/pipeline/experiment.py
  platform/pricemodel/src/pricemodel/pipeline/main.py
  platform/pricemodel/src/pricemodel/pipeline/model.py
Due: lint, dead-code

Add fixes for datacollector and dataprovider
  .mise/tasks/platform/datacollector/build
  .mise/tasks/platform/datacollector/run
  .mise/tasks/platform/dataprovider/build
  Cargo.lock
  infrastructure/platform/datacollector.yaml
  libraries/rust/Cargo.toml
  libraries/rust/src/data/client.rs
  platform/datacollector/Cargo.toml
  platform/datacollector/Dockerfile
  platform/datacollector/compose.yaml
  platform/datacollector/src/main.rs
  platform/dataprovider/Cargo.toml
  platform/dataprovider/Dockerfile
  platform/dataprovider/compose.yaml
  platform/dataprovider/src/main.rs
Due: rust-formatting, rust-linting

remove unwrap
  Cargo.lock
  platform/trader/src/routes/event.rs
Due: rust-formatting, rust-linting

merging main
  .gitignore
  flake.lock
  flake.nix
Due: none

demo time
  .mise/tasks/infrastructure/aws/buckets
  .mise/tasks/infrastructure/aws/eks
  .mise/tasks/infrastructure/knative
  .mise/tasks/infrastructure/platform
  .mise/tasks/infrastructure/secrets
  .mise/tasks/infrastructure/up
  Cargo.lock
  flake.lock
  flake.nix
  infrastructure/aws/cluster-config.yaml
  kctl
  libraries/rust/src/data/mod.rs
  platform/chronos/manifest.yaml
  platform/datacollector/src/main.rs
  platform/dataprovider/Cargo.toml
  platform/dataprovider/Dockerfile
  platform/dataprovider/src/lib.rs
  platform/dataprovider/src/main.rs
  platform/pricemodel/compose.yaml
  platform/pricemodel/flake
  platform/pricemodel/manifest.yaml
  platform/pricemodel/src/pricemodel/entrypoint.py
  platform/pricemodel/src/pricemodel/pipeline/daily/tft.py
  platform/pricemodel/src/pricemodel/pipeline/daily/tft2.py
  platform/pricemodel/src/pricemodel/pipeline/model.py
  platform/trader/manifest.yaml
Due: lint, dead-code, rust-formatting, rust-linting

Content updates and consolidations
  README.md
  platform/frontend/about.html
  platform/frontend/index.html
Due: none

Generalize data library and update data layer services
  .mise/tasks/platform/chronos/build
  .mise/tasks/platform/datacollector/test
  Cargo.lock
  README.md
  amplify.yml
  libraries/rust/src/data/client.rs
  libraries/rust/src/data/mod.rs
  platform/chronos/Cargo.toml
  platform/chronos/Dockerfile
  platform/datacollector/Cargo.toml
  platform/datacollector/src/main.rs
  platform/dataprovider/src/main.rs
  platform/discord/Cargo.toml
  website/about.html
  website/index.html
Due: rust-formatting, rust-linting

Create/integrate events module
  Cargo.lock
  libraries/rust/Cargo.toml
  libraries/rust/src/events/events.rs
  libraries/rust/src/events/mod.rs
  platform/chronos/Cargo.toml
  platform/datacollector/Cargo.toml
  platform/datacollector/src/main.rs
  platform/dataprovider/Cargo.toml
  platform/dataprovider/src/main.rs
  platform/discord/Cargo.toml
  platform/discord/src/routes/message.rs
Due: rust-formatting, rust-linting

adding account administrator
  Cargo.lock
  Cargo.toml
  platform/accountadministrator/'
  platform/accountadministrator/Cargo.toml
  platform/accountadministrator/src/main.rs
Due: rust-formatting, rust-linting

Rebuild positionmanager in Rust
  .mise/tasks/platform/positionmanager/build
  .mise/tasks/platform/positionmanager/down
  .mise/tasks/platform/positionmanager/publish
  .mise/tasks/platform/positionmanager/run
  .mise/tasks/platform/positionmanager/test
  Cargo.lock
  Cargo.toml
  infrastructure/platform/positionmanager.yaml
  libraries/python/src/python/__init__.py
  libraries/rust/Cargo.toml
  libraries/rust/src/data/mod.rs
  libraries/rust/src/lib.rs
  libraries/rust/src/trade/client.rs
  libraries/rust/src/trade/mod.rs
  platform/datacollector/Cargo.toml
  platform/datacollector/src/main.rs
  platform/datacollector/src/tickers.rs
  platform/dataprovider/Cargo.toml
  platform/dataprovider/src/main.rs
  platform/positionmanager/.dockerignore
  platform/positionmanager/Cargo.toml
  platform/positionmanager/Dockerfile
  platform/positionmanager/compose.yaml
  platform/positionmanager/entrypoint.py
  platform/positionmanager/pyproject.toml
  platform/positionmanager/src/main.rs
  platform/positionmanager/src/positionmanager/__init__.py
  platform/positionmanager/src/positionmanager/entrypoint.py
  platform/positionmanager/uv.lock
Due: lint, dead-code, rust-formatting, rust-linting

Add "hypotheses" to About page
  website/about.html
Due: none

Change all services/libraries to version 1.0.0
  Cargo.lock
  libraries/python/pyproject.toml
  libraries/rust/Cargo.toml
  platform/broker/Cargo.toml
  platform/chronos/Cargo.toml
  platform/datacollector/Cargo.toml
  platform/dataprovider/Cargo.toml
  platform/discord/Cargo.toml
  platform/pricemodel/pyproject.toml
Due: none

Convert all services to CloudEvent signatures
  Cargo.lock
  libraries/rust/src/data/client.rs
  libraries/rust/src/data/mod.rs
  libraries/rust/src/events/events.rs
  libraries/rust/src/trade/client.rs
  libraries/rust/src/trade/mod.rs
  platform/datacollector/src/main.rs
  platform/dataprovider/Cargo.toml
  platform/dataprovider/src/main.rs
  platform/discord/src/routes/message.rs
  platform/positionmanager/src/main.rs
Due: rust-formatting, rust-linting

Remove unused piplines/Terraform files
  infrastructure/platform/secrets.tf
  infrastructure/platform/variables.tf
  pipelines/filings/__init__.py
  pipelines/filings/config.py
  pipelines/filings/pull_data.py
  pipelines/filings/structs.py
  pipelines/pricemodel/__init__.py
  pipelines/pricemodel/convert_to_onnx.py
  pipelines/pricemodel/data.csv
  pipelines/pricemodel/main.py
  platform/datacollector/src/main.rs
  platform/dataprovider/src/main.rs
  platform/positionmanager/src/main.rs
Due: lint, dead-code, rust-formatting, rust-linting

Fix incorrect volume reference in Compose file
  .github/workflows/publish-python-library.yaml
  .github/workflows/publish-python-library.yml
  .mise/tasks/libraries/rust/publish
  libraries/python/src/pocketsizefund/data.py
  libraries/python/tests/test_data.py
  platform/dataprovider/compose.yaml
Due: lint, dead-code

Unify all CloudEvent patterns
  infrastructure/platform/datacollector.yaml
  infrastructure/platform/dataprovider.yaml
  infrastructure/platform/metricsreporter.yaml
  infrastructure/platform/positionmanager.yaml
  libraries/rust/src/events/events.rs
  platform/datacollector/src/main.rs
  platform/dataprovider/src/main.rs
  platform/metricsreporter/src/main.rs
  platform/positionmanager/src/main.rs
Due: rust-formatting, rust-linting

Build initial metrics reporter service
  .mise/tasks/platform/metricsreporter/build
  .mise/tasks/platform/metricsreporter/down
  .mise/tasks/platform/metricsreporter/publish
  .mise/tasks/platform/metricsreporter/run
  .mise/tasks/platform/metricsreporter/test
  Cargo.lock
  Cargo.toml
  infrastructure/platform/dataprovider.yaml
  infrastructure/platform/metricsreporter.yaml
  infrastructure/platform/pricemodel.yaml
  libraries/rust/src/trade/client.rs
  libraries/rust/src/trade/mod.rs
  platform/datacollector/src/main.rs
  platform/metricsreporter/Cargo.toml
  platform/metricsreporter/Dockerfile
  platform/metricsreporter/compose.yaml
  platform/metricsreporter/src/calculators.rs
  platform/metricsreporter/src/main.rs
  platform/positionmanager/src/main.rs
Due: rust-formatting, rust-linting

Remove various unused resources
  .flox/.gitignore
  .flox/env.json
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .gitignore
  data/test_data.csv
  infrastructure/__init__.py
  infrastructure/chat.py
Due: lint, dead-code
