Repository pocketsizefund/pocketsizefund: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, dead-code, rust-formatting, rust-linting

lint:
  name: Lint
  entry: 'mise run lint:python
  
    '
  pass_filenames: false
  language: system

dead-code:
  name: Dead code
  entry: 'mise run check:dead-code
  
    '
  pass_filenames: false
  language: system

rust-formatting:
  name: Rust formatting
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: 'mise run fmt:rust
  
    '
  language: system

rust-linting:
  name: Rust linting with clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: 'mise run lint:rust
  
    '
  pass_filenames: false
  language: system

testing
  .github/workflows/python.yaml
Due: none

testing
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .github/workflows/python.yaml
Due: none

testing
  .github/workflows/python.yaml
  .github/workflows/setup.yaml
Due: none

testing
  .github/workflows/publish-python-library.yml
  .github/workflows/python.yaml
Due: none

testing
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .mise/config.toml
  infrastructure/chat.py
  libraries/python/tests/test_data.py
  libraries/python/tests/test_storage.py
  platform/pricemodel/src/pricemodel/entrypoint.py
  pyproject.toml
Due: lint, dead-code

workikng on new flow
  platform/pricemodel/src/pricemodel/entrypoint.py
Due: lint, dead-code

create compliance service
  platform/compliance/Cargo.toml
  platform/compliance/Dockerfile
  platform/compliance/compose.yaml
  platform/compliance/src/lib.rs
  platform/compliance/src/main.rs
  platform/compliance/src/routes/events.rs
  platform/compliance/src/routes/health.rs
  platform/compliance/src/routes/mod.rs
  platform/compliance/tests/test_compliance.rs
  platform/compliance/tests/test_health.rs
Due: rust-formatting, rust-linting

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .mise/tasks/infrastructure/local/kf/down
  .mise/tasks/infrastructure/local/kf/up
  .mise/tasks/infrastructure/local/observability
  .mise/tasks/infrastructure/local/platform/chronos
  .mise/tasks/infrastructure/local/platform/positionmanager
  .mise/tasks/infrastructure/local/platform/pricemodel
  .mise/tasks/infrastructure/local/platform/up
  Cargo.lock
  infrastructure/__init__.py
  infrastructure/k8s/knative.tf
  infrastructure/local/deploykf-app-of-apps.yaml
  infrastructure/local/deploykf-values.yaml
  infrastructure/local/k8s/cluster.yaml
  infrastructure/local/kubeflow/argocd.yaml
  infrastructure/main.tf
  infrastructure/pyproject.toml
  infrastructure/src/infrastructure/__init__.py
  infrastructure/src/infrastructure/main.py
  infrastructure/src/infrastructure/models.py
  infrastructure/src/infrastructure/pipeline.py
  infrastructure/steps/__init__.py
  infrastructure/steps/aws/__init__.py
  infrastructure/steps/aws/eks.py
  infrastructure/steps/aws/iam.py
  infrastructure/steps/aws/node_group.py
  infrastructure/steps/aws/route_table.py
  infrastructure/steps/aws/subnet.py
  infrastructure/steps/aws/vpc.py
  infrastructure/steps/k8s/__init__.py
  infrastructure/steps/k8s/helm.py
  infrastructure/steps/k8s/knative.py
  infrastructure/steps/k8s/observability.py
  infrastructure/tasks.py
Due: lint, dead-code

testing
  infrastructure/steps/aws/__init__.py
  infrastructure/steps/aws/ingress_rules.py
  infrastructure/steps/aws/vpc.py
  infrastructure/tasks.py
Due: lint, dead-code

clean up infrastructure
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .mise/tasks/infrastructure/up
  .mise/tasks/platform/pricemodel/build
  infrastructure/aws/s3.yaml
  infrastructure/k8s/knative.tf
  infrastructure/local/deploykf-app-of-apps.yaml
  infrastructure/local/deploykf-values.yaml
  infrastructure/local/k8s/cluster.yaml
  infrastructure/local/kubeflow/argocd.yaml
  infrastructure/pyproject.toml
  infrastructure/src/infrastructure/__init__.py
  infrastructure/src/infrastructure/main.py
  infrastructure/src/infrastructure/models.py
  infrastructure/src/infrastructure/pipeline.py
  infrastructure/steps/__init__.py
  infrastructure/steps/aws/__init__.py
  infrastructure/steps/aws/eks.py
  infrastructure/steps/aws/iam.py
  infrastructure/steps/aws/ingress_rules.py
  infrastructure/steps/aws/node_group.py
  infrastructure/steps/aws/route_table.py
  infrastructure/steps/aws/subnet.py
  infrastructure/steps/aws/vpc.py
  infrastructure/steps/k8s/__init__.py
  infrastructure/steps/k8s/helm.py
  infrastructure/steps/k8s/knative.py
  infrastructure/steps/k8s/observability.py
  infrastructure/tasks.py
Due: lint, dead-code

remove platform
  platform/compliance/Cargo.toml
  platform/compliance/Dockerfile
  platform/compliance/compose.yaml
  platform/compliance/src/lib.rs
  platform/compliance/src/main.rs
  platform/compliance/src/routes/events.rs
  platform/compliance/src/routes/health.rs
  platform/compliance/src/routes/mod.rs
  platform/compliance/tests/test_compliance.rs
  platform/compliance/tests/test_health.rs
Due: rust-formatting, rust-linting

update platform version
  infrastructure/aws/s3.yaml
  libraries/python/src/pocketsizefund/storage.py
  libraries/python/tests/test_storage.py
  platform/positionmanager/entrypoint.py
  platform/positionmanager/src/positionmanager/entrypoint.py
  platform/positionmanager/uv.lock
  uv.lock
Due: lint, dead-code

linting
  Cargo.lock
  infrastructure/chat.py
  libraries/python/src/pocketsizefund/config.py
  pyproject.toml
  uv.lock
Due: lint, dead-code

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .mise/tasks/infrastructure/up
  platform/positionmanager/src/positionmanager/entrypoint.py
Due: lint, dead-code

fix positionmanager
  .mise/config.toml
  platform/newsfeed/Cargo.toml
Due: none

fix positionmanager
  .mise/tasks/infrastructure/up
  infrastructure/platform/discord.yaml
Due: none

updates
  .flox/env/manifest.lock
  .flox/env/manifest.toml
Due: none

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  platform/newsfeed/Cargo.toml
Due: none

updates
  .mise/tasks/infrastructure/local/kf/down
  .mise/tasks/infrastructure/local/kf/up
  .mise/tasks/infrastructure/local/observability
  .mise/tasks/infrastructure/local/platform/chronos
  .mise/tasks/infrastructure/local/platform/positionmanager
  .mise/tasks/infrastructure/local/platform/pricemodel
  .mise/tasks/infrastructure/local/platform/up
Due: none

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
Due: none

changes from review
  .flox/env/manifest.toml
  .mise/tasks/platform/positionmanager/build
  .mise/tasks/platform/pricemodel/build
Due: none

rebase
  .github/workflows/publish-python-library.yml
  .mise/config.toml
  libraries/python/pocketsizefund/config.py
  libraries/python/src/python/__init__.py
  libraries/python/tests/test_data.py
  libraries/python/tests/test_storage.py
  pyproject.toml
  temp/compliance/Cargo.toml
  temp/compliance/Dockerfile
  temp/compliance/compose.yaml
  temp/compliance/src/lib.rs
  temp/compliance/src/main.rs
  temp/compliance/src/routes/events.rs
  temp/compliance/src/routes/health.rs
  temp/compliance/src/routes/mod.rs
  temp/compliance/tests/test_compliance.rs
  temp/compliance/tests/test_health.rs
Due: lint, dead-code, rust-formatting, rust-linting

testing
  .mise/config.toml
  libraries/python/tests/test_data.py
  libraries/python/tests/test_storage.py
  platform/positionmanager/entrypoint.py
  pyproject.toml
Due: lint, dead-code

linting
  .mise/tasks/platform/positionmanager/build
  pyproject.toml
Due: none

rebase
  libraries/python/poetry.lock
Due: none

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  temp/compliance/Cargo.toml
  temp/compliance/Dockerfile
  temp/compliance/compose.yaml
  temp/compliance/src/lib.rs
  temp/compliance/src/main.rs
  temp/compliance/src/routes/events.rs
  temp/compliance/src/routes/health.rs
  temp/compliance/src/routes/mod.rs
  temp/compliance/tests/test_compliance.rs
  temp/compliance/tests/test_health.rs
Due: rust-formatting, rust-linting

remove conflict
  libraries/python/poetry.lock
Due: none

rebase
  .mise/tasks/python/dead-code
  infrastructure/__init__.py
  infrastructure/chat.py
  infrastructure/main.tf
  infrastructure/variables.tf
  libraries/python/pocketsizefund/config.py
  libraries/python/poetry.lock
  libraries/python/src/pocketsizefund/config.py
  libraries/python/src/pocketsizefund/data.py
  libraries/python/src/pocketsizefund/model.py
  libraries/python/src/pocketsizefund/trade.py
  libraries/python/tests/test_storage.py
  platform/positionmanager/entrypoint.py
  pyproject.toml
  uv.lock
Due: lint, dead-code

updates
  .mise/tasks/infrastructure/aws/buckets
  .mise/tasks/infrastructure/aws/eks
  .mise/tasks/infrastructure/aws/up
  .mise/tasks/infrastructure/build
  .mise/tasks/infrastructure/down
  .mise/tasks/infrastructure/knative
  .mise/tasks/infrastructure/monitoring
  .mise/tasks/infrastructure/namespaces
  .mise/tasks/infrastructure/platform
  .mise/tasks/infrastructure/run
  .mise/tasks/infrastructure/secrets
  .mise/tasks/platform/discordbot/build
  .mise/tasks/platform/discordbot/publish
  .mise/tasks/platform/discordbot/run
  infrastructure/.gitignore
  infrastructure/Cargo.toml
  infrastructure/Dockerfile
  infrastructure/Puppetfile
  infrastructure/aws/cluster-config.yaml
  infrastructure/bolt-project.yaml
  infrastructure/compose.yaml
  infrastructure/inventory.yaml
  infrastructure/knative/eventing-core.yaml
  infrastructure/knative/eventing-crds.yaml
  infrastructure/knative/eventing-tls-networking.yaml
  infrastructure/knative/eventing.yaml
  infrastructure/knative/in-memory-channel.yaml
  infrastructure/knative/mt-channel-broker.yaml
  infrastructure/knative/prometheus.yaml
  infrastructure/namespaces/monitoring.yaml
  infrastructure/plans/eks.pp
  infrastructure/src/aws/mod.rs
  infrastructure/src/aws/s3.rs
  infrastructure/src/config.rs
  infrastructure/src/lib.rs
  infrastructure/src/main.rs
  infrastructure/src/willa.txt
Due: rust-formatting, rust-linting

updates
  platform/debug-trigger.yaml
  platform/discordbot/.dockerignore
  platform/discordbot/Cargo.toml
  platform/discordbot/Dockerfile
  platform/discordbot/compose.yaml
  platform/discordbot/manifest.yaml
  platform/discordbot/src/config.rs
  platform/discordbot/src/lib.rs
  platform/discordbot/src/main.rs
  platform/discordbot/src/routes/health.rs
  platform/discordbot/src/routes/message.rs
  platform/discordbot/src/routes/mod.rs
  platform/discordbot/tests/test_health_check.rs
  platform/discordbot/tests/test_send_message.rs
  platform/event-display.yaml
  platform/pricemodel/Dockerfile
  platform/pricemodel/compose.yaml
  platform/pricemodel/manifest.yaml
  platform/pricemodel/pyproject.toml
Due: rust-formatting, rust-linting

updates
  platform/chronos/compose.yaml
  platform/discordbot/down
  platform/discordbot/manifest.yaml
  platform/discordbot/up
Due: none

updates
  platform/discordbot/compose.yaml
  platform/positionmanager/.dockerignore
  platform/positionmanager/manifest.yaml
  platform/positionmanager/pyproject.toml
Due: none

fix conflicts
  Cargo.lock
  Cargo.toml
  infrastructure/aws/cluster-config.yaml
  libraries/rust/Cargo.toml
  libraries/rust/src/events/market.rs
  platform/chronos/manifest.yaml
  platform/discordbot/Cargo.toml
  platform/discordbot/manifest.yaml
  platform/positionmanager/manifest.yaml
  platform/positionmanager/pyproject.toml
  platform/pricemodel/Dockerfile
  platform/pricemodel/compose.yaml
  platform/pricemodel/manifest.yaml
  platform/pricemodel/pyproject.toml
  platform/pricemodel/src/pricemodel/entrypoint.py
  pyproject.toml
Due: lint, dead-code, rust-formatting, rust-linting

fix conflicts
  .flox/env.json
  .flox/env/manifest.lock
  .flox/env/manifest.toml
Due: none

fix conflicts
  .mise/tasks/infrastructure/down
  .mise/tasks/infrastructure/up
  platform/positionmanager/.dockerignore
Due: none

Path conditions:
  lint: any of: \.py$
  dead-code: any of: \.py$
  rust-formatting: any of: \.rs$
  rust-linting: any of: \.rs$
