Repository pocketsizefund/pocketsizefund: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, dead-code, rust-formatting, rust-linting

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: lint
      name: Lint
      entry: |
        mise run lint:python
      pass_filenames: false
      types: [file, python]
      language: system
    - id: dead-code
      name: Dead code
      entry: |
        mise run check:dead-code
      pass_filenames: false
      types: [file, python]
      language: system
    - id: rust-formatting
      name: Rust formatting
      description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
      entry: |
          mise run fmt:rust
      types: [file, rust]
      language: system
    - id: rust-linting
      name: Rust linting with clippy
      description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
      entry: |
          mise run lint:rust
      pass_filenames: false
      types: [file, rust]
      language: system

testing
  .github/workflows/publish-python-library.yml
Due: none

testing
  .flox/.gitignore
  .github/workflows/publish-python-library.yml
  .mise/config.toml
  .mise/tasks/libraries/python/publish
  .mise/tasks/libraries/python/test
  libraries/python/README.md
  libraries/python/pocketsizefund/config.py
  libraries/python/pocketsizefund/event/__init__.py
  libraries/python/pocketsizefund/event/event.py
  libraries/python/pyproject.toml
  libraries/python/src/python/__init__.py
  libraries/python/tests/test_config.py
  libraries/python/tests/test_data.py
  libraries/python/tests/test_event.py
  libraries/python/tests/test_storage.py
  libraries/python/tests/test_trade.py
  poetry.lock
  pyproject.toml
  temp/compliance/Cargo.toml
  temp/compliance/Dockerfile
  temp/compliance/compose.yaml
  temp/compliance/src/lib.rs
  temp/compliance/src/main.rs
  temp/compliance/src/routes/events.rs
  temp/compliance/src/routes/health.rs
  temp/compliance/src/routes/mod.rs
  temp/compliance/tests/test_compliance.rs
  temp/compliance/tests/test_health.rs
  uv.lock
Due: lint, dead-code, rust-formatting, rust-linting

testing
  libraries/python/pyproject.toml
Due: none

testing
  .github/workflows/python.yml
Due: none

testing
  .github/workflows/publish-python-library.yml
  libraries/python/src/pocketsizefund/__init__.py
  libraries/python/src/pocketsizefund/config.py
  libraries/python/src/pocketsizefund/data.py
  libraries/python/src/pocketsizefund/model.py
  libraries/python/src/pocketsizefund/storage.py
  libraries/python/src/pocketsizefund/trade.py
  libraries/python/src/python/__init__.py
Due: lint, dead-code

testing
  .github/workflows/python.yaml
Due: none

updating gh action
  .github/workflows/python.yml
Due: none

testing
  .github/workflows/publish-python-library.yaml
  .github/workflows/python.yaml
Due: none

testing
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .github/workflows/python.yaml
Due: none

testing
  .github/workflows/python.yaml
  .github/workflows/setup.yaml
Due: none

testing
  .flox/env.json
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .github/workflows/python.yml
  .github/workflows/setup.yaml
  .gitignore
  .mise/config.toml
  .mise/tasks/python/lint
  pyproject.toml
Due: none

testing
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .mise/config.toml
  infrastructure/chat.py
  libraries/python/src/pocketsizefund/model.py
  libraries/python/tests/test_data.py
  libraries/python/tests/test_storage.py
  libraries/python/tests/test_trade.py
  platform/positionmanager/entrypoint.py
  platform/positionmanager/event_bus.py
  platform/pricemodel/entrypoint.py
  pyproject.toml
Due: lint, dead-code

workikng on new flow
  libraries/rust/Cargo.toml
Due: none

create compliance service
  Cargo.lock
  Cargo.toml
  platform/compliance/Cargo.toml
  platform/compliance/Dockerfile
  platform/compliance/compose.yaml
  platform/compliance/src/lib.rs
  platform/compliance/src/main.rs
  platform/compliance/src/routes/events.rs
  platform/compliance/src/routes/health.rs
  platform/compliance/src/routes/mod.rs
  platform/compliance/tests/test_compliance.rs
  platform/compliance/tests/test_health.rs
Due: rust-formatting, rust-linting

testing
  infrastructure/steps/aws/__init__.py
  infrastructure/steps/aws/ingress_rules.py
  infrastructure/steps/aws/vpc.py
  infrastructure/tasks.py
Due: lint, dead-code

remove platform
  platform/compliance/Cargo.toml
  platform/compliance/Dockerfile
  platform/compliance/compose.yaml
  platform/compliance/src/lib.rs
  platform/compliance/src/main.rs
  platform/compliance/src/routes/events.rs
  platform/compliance/src/routes/health.rs
  platform/compliance/src/routes/mod.rs
  platform/compliance/tests/test_compliance.rs
  platform/compliance/tests/test_health.rs
Due: rust-formatting, rust-linting

linting
  .mise/tasks/platform/positionmanager/build
  .mise/tasks/platform/positionmanager/publish
  .mise/tasks/platform/pricemodel/publish
  .mise/tasks/platform/pricemodel/push
  Cargo.lock
  Cargo.toml
  libraries/python/src/pocketsizefund/config.py
  libraries/rust/src/data/client.rs
  libraries/rust/src/events/market.rs
  platform/dataprovider/src/main.rs
  pyproject.toml
  uv.lock
Due: lint, dead-code, rust-formatting, rust-linting

update platform version
  .gitignore
  .mise/tasks/infrastructure/up
  .mise/tasks/platform/positionmanager/build
  .mise/tasks/platform/pricemodel/build
  infrastructure/aws/cluster-config.yaml
  infrastructure/aws/s3.yaml
  infrastructure/platform/positionmanager.yaml
  infrastructure/platform/pricemodel.yaml
  libraries/python/src/pocketsizefund/storage.py
  libraries/python/tests/test_storage.py
  platform.yaml
  platform/positionmanager/.dockerignore
  platform/positionmanager/Dockerfile
  platform/positionmanager/platform.yaml
  platform/positionmanager/poetry.lock
  platform/positionmanager/pyproject.toml
  platform/positionmanager/src/positionmanager/__init__.py
  platform/positionmanager/src/positionmanager/entrypoint.py
  platform/positionmanager/uv.lock
  platform/pricemodel/.version
  platform/pricemodel/Dockerfile
  platform/pricemodel/pyproject.toml
  platform/pricemodel/requirements.txt
  platform/pricemodel/src/pricemodel/__init__.py
  platform/pricemodel/src/pricemodel/entrypoint.py
  platform/pricemodel/uv.lock
Due: lint, dead-code

Vertically stack landing page links
  infrastructure/__init__.py
Due: lint, dead-code

fix positionmanager
  infrastructure/platform/discord.yaml
  infrastructure/platform/positionmanager.yaml
  platform/chronos/manifest.yaml
Due: none

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  Cargo.lock
  infrastructure/platform/discord.yaml
  platform/chronos/Cargo.toml
  platform/chronos/manifest.yaml
  platform/chronos/src/routes/events.rs
Due: rust-formatting, rust-linting

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  Cargo.lock
  Cargo.toml
  infrastructure/platform/discord.yaml
  platform/broker/Cargo.toml
  platform/chronos/manifest.yaml
  platform/newsfeed/Cargo.toml
  platform/newsfeed/Dockerfile
  platform/newsfeed/compose.yaml
  platform/newsfeed/manifest.yaml
  platform/newsfeed/src/lib.rs
  platform/newsfeed/src/main.rs
  platform/newsfeed/test
Due: rust-formatting, rust-linting

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  infrastructure/platform/positionmanager.yaml
  infrastructure/platform/pricemodel.yaml
  platform/positionmanager/pyproject.toml
  platform/positionmanager/src/positionmanager/entrypoint.py
Due: lint, dead-code

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .mise/tasks/infrastructure/local/down
  .mise/tasks/infrastructure/local/kf/down
  .mise/tasks/infrastructure/local/kf/up
  .mise/tasks/infrastructure/local/observability
  .mise/tasks/infrastructure/local/platform/chronos
  .mise/tasks/infrastructure/local/platform/positionmanager
  .mise/tasks/infrastructure/local/platform/pricemodel
  .mise/tasks/infrastructure/local/platform/up
  temp/compliance/Cargo.toml
  temp/compliance/Dockerfile
  temp/compliance/compose.yaml
  temp/compliance/src/lib.rs
  temp/compliance/src/main.rs
  temp/compliance/src/routes/events.rs
  temp/compliance/src/routes/health.rs
  temp/compliance/src/routes/mod.rs
  temp/compliance/tests/test_compliance.rs
  temp/compliance/tests/test_health.rs
Due: rust-formatting, rust-linting

fix positionmanager
  .mise/config.toml
  Cargo.lock
  platform/discord/Cargo.toml
  platform/newsfeed/Cargo.toml
  platform/positionmanager/pyproject.toml
  platform/positionmanager/uv.lock
Due: none

fix positionmanager
  platform/positionmanager/pyproject.toml
  platform/positionmanager/src/positionmanager/entrypoint.py
Due: lint, dead-code
