Repository pocketsizefund/pocketsizefund: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, dead-code, rust-formatting, rust-linting

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: lint
      name: Lint
      entry: |
        mise run lint:python
      pass_filenames: false
      types: [file, python]
      language: system
    - id: dead-code
      name: Dead code
      entry: |
        mise run check:dead-code
      pass_filenames: false
      types: [file, python]
      language: system
    - id: rust-formatting
      name: Rust formatting
      description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
      entry: |
          mise run fmt:rust
      types: [file, rust]
      language: system
    - id: rust-linting
      name: Rust linting with clippy
      description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
      entry: |
          mise run lint:rust
      pass_filenames: false
      types: [file, rust]
      language: system

update workspace
  Cargo.lock
  Cargo.toml
Due: none

set up basic broker service
  .mise/tasks/infrastructure/down
  .mise/tasks/infrastructure/kubeflow/publish
  platform/broker/Cargo.lock
  platform/broker/Cargo.toml
  platform/broker/src/main.rs
Due: rust-formatting, rust-linting

Update README.md
  README.md
Due: none

add discord link to website
  platform/frontend/index.html
Due: none

working on a custom builder
  .mise.toml
  Cargo.lock
  Cargo.toml
  builder/Cargo.toml
  builder/src/lib.rs
  builder/src/main.rs
  builder/src/system/boot.rs
  builder/src/system/cpu.rs
  builder/src/system/memory.rs
  builder/src/system/mod.rs
  builder/src/system/os.rs
Due: rust-formatting, rust-linting

knative eventing
  Cargo.lock
  infrastructure/core/main.go
  libraries/rust/ml/Cargo.toml
  libraries/rust/ml/src/main.rs
  pipelines/pricemodel/convert_to_onnx.py
  pipelines/pricemodel/data.csv
  pipelines/pricemodel/main.py
  platform/discord/manifest.yaml
  platform/discord/src/config.rs
  platform/discord/src/lib.rs
  platform/discord/src/listener.rs
  platform/discord/src/main.rs
  platform/discord/src/routes/health.rs
  platform/discord/src/routes/message.rs
  platform/discord/src/routes/mod.rs
  platform/discord/tests/test_health_check.rs
  platform/discord/tests/test_send_message.rs
  platform/positionmanager/entrypoint.py
Due: lint, dead-code, rust-formatting, rust-linting

update position manager to run on rust
  Cargo.lock
  Cargo.toml
  platform/positionmanager/Cargo.toml
  platform/positionmanager/entrypoint.py
  platform/positionmanager/event_bus.py
  platform/positionmanager/src/baseline_buy.rs
  platform/positionmanager/src/config.rs
  platform/positionmanager/src/lib.rs
  platform/positionmanager/src/main.rs
  platform/positionmanager/src/routes/buy.rs
  platform/positionmanager/src/routes/health.rs
  platform/positionmanager/src/routes/mod.rs
  platform/positionmanager/tests/test_buy.rs
  platform/positionmanager/tests/test_health_check.rs
Due: lint, dead-code, rust-formatting, rust-linting

Create initial data provider platform service
  .mise/tasks/platform/dataprovider/build
  .mise/tasks/platform/dataprovider/deploy
  .mise/tasks/platform/dataprovider/down
  .mise/tasks/platform/dataprovider/publish
  .mise/tasks/platform/dataprovider/run
  .mise/tasks/platform/dataprovider/test
  Cargo.lock
  Cargo.toml
  platform/dataprovider/Cargo.toml
  platform/dataprovider/Dockerfile
  platform/dataprovider/compose.yaml
  platform/dataprovider/src/main.rs
Due: rust-formatting, rust-linting

Create initial data collector platform servivce
  .github/workflows/coverage.yaml
  .github/workflows/python.yml
  .gitignore
  .mise/config.toml
  .mise/tasks/platform/datacollector/build
  .mise/tasks/platform/datacollector/deploy
  .mise/tasks/platform/datacollector/down
  .mise/tasks/platform/datacollector/publish
  .mise/tasks/platform/datacollector/run
  .mise/tasks/platform/datacollector/test
  .mise/tasks/python/dead-code
  .mise/tasks/python/lint
  .mise/tasks/rust/audit
  .mise/tasks/rust/machete
  Cargo.lock
  Cargo.toml
  deny.toml
  libraries/python/pocketsizefund/data.py
  libraries/python/pocketsizefund/trade.py
  libraries/rust/src/data/client.rs
  libraries/rust/src/schema/market/status.rs
  platform/datacollector/Cargo.toml
  platform/datacollector/Dockerfile
  platform/datacollector/compose.yaml
  platform/datacollector/src/main.rs
  platform/datacollector/src/tickers.rs
  platform/discord/Cargo.toml
  platform/newsfeed/Cargo.toml
  platform/newsfeed/src/main.rs
  pyproject.toml
Due: lint, dead-code, rust-formatting, rust-linting

rebase
  Cargo.lock
Due: none

updating mise
  .mise/config.toml
  .mise/tasks/platform/discord/build
  Cargo.lock
Due: none

trying out test containers
  libraries/rust/data/tests/test_s3.rs
Due: rust-formatting, rust-linting

rebase
  .mise/tasks/platform/discord/build
  Cargo.lock
Due: none

Build initial Rust data package
  Cargo.lock
  Cargo.toml
  libraries/rust/data/Cargo.toml
  libraries/rust/data/src/client.rs
  libraries/rust/data/src/lib.rs
  libraries/rust/event/Cargo.toml
  libraries/rust/event/src/lib.rs
  libraries/rust/event/src/publisher.rs
  libraries/rust/event/src/subscriber.rs
  libraries/rust/schema/Cargo.toml
  libraries/rust/schema/src/asset_class.rs
  libraries/rust/schema/src/bar.rs
  libraries/rust/schema/src/exchange.rs
  libraries/rust/schema/src/lib.rs
  libraries/rust/schema/src/locale.rs
  libraries/rust/schema/src/market/holidays.rs
  libraries/rust/schema/src/market/mod.rs
  libraries/rust/schema/src/market/status.rs
  libraries/rust/schema/src/prelude.rs
  libraries/rust/schema/src/ticker.rs
  libraries/rust/src/logger.rs
  libraries/rust/src/polygon.rs
  libraries/rust/src/schema/symbol.rs
Due: rust-formatting, rust-linting

create chronos service for managing the clock
  .gitignore
  .mise/tasks/platform/chronos/audit
  .mise/tasks/platform/chronos/build
  .mise/tasks/platform/chronos/deploy
  .mise/tasks/platform/chronos/down
  .mise/tasks/platform/chronos/format
  .mise/tasks/platform/chronos/lint
  .mise/tasks/platform/chronos/publish
  .mise/tasks/platform/chronos/run
  .mise/tasks/platform/chronos/test
  .mise/tasks/platform/deploy
  .mise/tasks/platform/discord/deploy
  .mise/tasks/platform/discord/deploy/all
  .mise/tasks/platform/discord/deploy/paper
  .mise/tasks/platform/down
  .mise/tasks/platform/positionmanager/deploy
  .mise/tasks/platform/pricemodel/deploy
  Cargo.toml
  libraries/rust/data/tests/test_s3.rs
  libraries/rust/ping
  platform/chronos/Cargo.lock
  platform/chronos/Cargo.toml
  platform/chronos/Dockerfile
  platform/chronos/README.md
  platform/chronos/compose.yaml
  platform/chronos/manifest.yaml
  platform/chronos/src/lib.rs
  platform/chronos/src/main.rs
  platform/chronos/src/routes/event.rs
  platform/chronos/src/routes/health.rs
  platform/chronos/src/routes/mod.rs
  platform/chronos/tests/test_chron.rs
  platform/chronos/tests/test_health.rs
  platform/newsfeed/compose.yaml
  platform/positionmanager/compose.yaml
  platform/pricemodel/compose.yaml
Due: rust-formatting, rust-linting

knative eventing
  .gitignore
  .mise/tasks/platform/discord/build
  .mise/tasks/platform/discord/deploy/all
  .mise/tasks/platform/discord/deploy/development
  .mise/tasks/platform/discord/deploy/live
  .mise/tasks/platform/discord/deploy/paper
  .mise/tasks/platform/discord/deploy~HEAD
  .mise/tasks/repo/setup
  Cargo.lock
  infrastructure/core/main.go
  infrastructure/kubeflow/Pulumi.kubeflow.yaml
  infrastructure/kubeflow/main.go
  libraries/rust/data/src/client.rs
  libraries/rust/schema/src/bar.rs
  libraries/rust/schema/src/lib.rs
  libraries/rust/schema/src/market/status.rs
  libraries/rust/schema/src/ticker.rs
  pipelines/pricemodel/convert_to_onnx.py
  pipelines/pricemodel/main.py
  platform/discord/Cargo.lock
  platform/discord/Dockerfile
  platform/discord/manifest.yaml
  platform/discord/src/config.rs
  platform/discord/src/routes/message.rs
  platform/discord/src/routes/mod.rs
  platform/positionmanager/entrypoint.py
Due: lint, dead-code, rust-formatting, rust-linting

remove unused namespaces
  .gitignore
  infrastructure/core/main.go
  platform/chronos/README.md
  platform/discord/README.md
Due: none

working on rust library
  libraries/rust/Cargo.toml
  libraries/rust/src/data/bar.rs
  libraries/rust/src/data/clients/mod.rs
  libraries/rust/src/data/clients/polygon.rs
  libraries/rust/src/data/exchange.rs
  libraries/rust/src/data/indicators.rs
  libraries/rust/src/data/market/asset_class.rs
  libraries/rust/src/data/market/locale.rs
  libraries/rust/src/data/market/mod.rs
  libraries/rust/src/data/market/status.rs
  libraries/rust/src/data/mod.rs
  libraries/rust/src/data/src/lib.rs
  libraries/rust/src/data/src/ticker.rs
  libraries/rust/src/data/ticker.rs
  libraries/rust/src/lib.rs
  libraries/rust/src/prelude.rs
  libraries/rust/tests/test_tickers.rs
Due: rust-formatting, rust-linting

work on rust library
  .gitignore
  libraries/rust/src/data/asset_class.rs
  libraries/rust/src/data/bar.rs
  libraries/rust/src/data/client.rs
  libraries/rust/src/data/exchange.rs
  libraries/rust/src/data/lib.rs
  libraries/rust/src/data/market/asset_class.rs
  libraries/rust/src/data/market/holidays.rs
  libraries/rust/src/data/market/mod.rs
  libraries/rust/src/data/market/status.rs
  libraries/rust/src/data/src/lib.rs
  libraries/rust/src/data/src/locale.rs
  libraries/rust/src/data/src/prelude.rs
  libraries/rust/src/data/src/ticker.rs
  libraries/rust/src/lib.rs
Due: rust-formatting, rust-linting

rebase
  .mise/tasks/platform/discord/build
Due: none

update workspace
  Cargo.toml
Due: none

Build initial Rust data package
  Cargo.toml
  hello
  libraries/rust/data/Cargo.toml
  libraries/rust/data/src/client.rs
  libraries/rust/data/src/lib.rs
  libraries/rust/event/Cargo.toml
  libraries/rust/event/src/lib.rs
  libraries/rust/event/src/publisher.rs
  libraries/rust/event/src/subscriber.rs
  libraries/rust/schema/Cargo.toml
  libraries/rust/schema/src/asset_class.rs
  libraries/rust/schema/src/bar.rs
  libraries/rust/schema/src/exchange.rs
  libraries/rust/schema/src/lib.rs
  libraries/rust/schema/src/locale.rs
  libraries/rust/schema/src/market/holidays.rs
  libraries/rust/schema/src/market/mod.rs
  libraries/rust/schema/src/market/status.rs
  libraries/rust/schema/src/prelude.rs
  libraries/rust/schema/src/ticker.rs
  libraries/rust/src/logger.rs
  libraries/rust/src/polygon.rs
  libraries/rust/src/schema/symbol.rs
Due: rust-formatting, rust-linting

knative eventing
  .mise/tasks/platform/discord/build
  .mise/tasks/platform/discord/deploy/all
  .mise/tasks/platform/discord/deploy/development
  .mise/tasks/platform/discord/deploy/live
  .mise/tasks/platform/discord/deploy/paper
  .mise/tasks/platform/discord/deploy~HEAD
  .mise/tasks/repo/setup
  Cargo.lock
  infrastructure/core/main.go
  infrastructure/kubeflow/Pulumi.kubeflow.yaml
  infrastructure/kubeflow/main.go
  libraries/rust/data/src/client.rs
  libraries/rust/schema/src/bar.rs
  libraries/rust/schema/src/lib.rs
  libraries/rust/schema/src/market/status.rs
  libraries/rust/schema/src/ticker.rs
  pipelines/pricemodel/convert_to_onnx.py
  pipelines/pricemodel/main.py
  platform/discord/Cargo.lock
  platform/discord/Dockerfile
  platform/discord/manifest.yaml
  platform/discord/src/config.rs
  platform/discord/src/routes/message.rs
  platform/discord/src/routes/mod.rs
  platform/positionmanager/entrypoint.py
Due: lint, dead-code, rust-formatting, rust-linting

create chronos service for managing the clock
  .gitignore
  .mise/tasks/platform/chronos/audit
  .mise/tasks/platform/chronos/build
  .mise/tasks/platform/chronos/deploy
  .mise/tasks/platform/chronos/down
  .mise/tasks/platform/chronos/format
  .mise/tasks/platform/chronos/lint
  .mise/tasks/platform/chronos/publish
  .mise/tasks/platform/chronos/run
  .mise/tasks/platform/chronos/test
  .mise/tasks/platform/deploy
  .mise/tasks/platform/discord/deploy
  .mise/tasks/platform/discord/deploy/all
  .mise/tasks/platform/discord/deploy/paper
  .mise/tasks/platform/down
  .mise/tasks/platform/positionmanager/deploy
  .mise/tasks/platform/positionmanager/down
  .mise/tasks/platform/pricemodel/deploy
  Cargo.toml
  libraries/rust/data/tests/test_s3.rs
  libraries/rust/ping
  platform/chronos/Cargo.lock
  platform/chronos/Cargo.toml
  platform/chronos/Dockerfile
  platform/chronos/README.md
  platform/chronos/compose.yaml
  platform/chronos/manifest.yaml
  platform/chronos/src/lib.rs
  platform/chronos/src/main.rs
  platform/chronos/src/routes/event.rs
  platform/chronos/src/routes/health.rs
  platform/chronos/src/routes/mod.rs
  platform/chronos/tests/test_chron.rs
  platform/chronos/tests/test_health.rs
  platform/newsfeed/compose.yaml
  platform/positionmanager/compose.yaml
  platform/pricemodel/compose.yaml
Due: rust-formatting, rust-linting

move to rust for building infrastructure
  .mise/tasks/infrastructure/k8s/config/sync
  .mise/tasks/platform/chronos/deploy
  .mise/tasks/repo/vectordatabase
  Cargo.lock
  Cargo.toml
  README.md
  activate
  infrastructure/Cargo.toml
  infrastructure/core/Pulumi.development.yaml
  infrastructure/core/main.go
  infrastructure/main.tf
  infrastructure/src/main.rs
  infrastructure/terraform.tfstate
  infrastructure/terraform.tfstate.backup
  pkt/README.md
  pkt/pkt/__init__.py
  pkt/pkt/cli.py
  pkt/poetry.lock
  pkt/pyproject.toml
  platform/chronos/manifest.yaml
  pocket/Cargo.toml
  pocket/src/lib.rs
  pocket/src/main.rs
  pocket/src/repo.rs
  pocket/src/stuff.rs
  zsh
Due: lint, dead-code, rust-formatting, rust-linting

Added the Discord link to the home page.
  platform/frontend/index.html
Due: none

Fixed the Discord link in home page . :)
  platform/frontend/index.html
Due: none

Create "always write" implementation for data "write" method
  libraries/rust/src/data/client.rs
  platform/datacollector/src/main.rs
Due: rust-formatting, rust-linting
