Repository pocketsizefund/pocketsizefund: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, dead-code, rust-formatting, rust-linting

lint:
  name: Lint
  entry: 'mise run lint:python
  
    '
  pass_filenames: false
  language: system

dead-code:
  name: Dead code
  entry: 'mise run check:dead-code
  
    '
  pass_filenames: false
  language: system

rust-formatting:
  name: Rust formatting
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: 'mise run fmt:rust
  
    '
  language: system

rust-linting:
  name: Rust linting with clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: 'mise run lint:rust
  
    '
  pass_filenames: false
  language: system

updates
  .flox/env/manifest.lock
  .flox/env/manifest.toml
Due: none

cleaning up
  infrastructure/__init__.py
  infrastructure/platform/discord.yaml
  infrastructure/platform/positionmanager.yaml
  infrastructure/platform/pricemodel.yaml
  platform/pricemodel/manifest.yaml
Due: lint, dead-code

update event types
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .mise/tasks/infrastructure/up
  Cargo.lock
  infrastructure/knative/event-display.yaml
  libraries/rust/Cargo.toml
  libraries/rust/src/events/market.rs
  platform/chronos/Cargo.toml
  platform/chronos/manifest.yaml
  platform/chronos/src/routes/events.rs
  platform/chronos/tests/test_chron.rs
  platform/discord/manifest.yaml
  platform/positionmanager/manifest.yaml
  platform/pricemodel/compose.yaml
  platform/pricemodel/manifest.yaml
  platform/pricemodel/ping
  platform/pricemodel/pyproject.toml
  platform/pricemodel/src/pricemodel/entrypoint.py
  platform/pricemodel/uv.lock
Due: lint, dead-code, rust-formatting, rust-linting

updates
  .flox/log/watchdog.42893.log
  .github/workflows/rust.yaml
Due: none

tidy
  .mise/tasks/infrastructure/up
Due: none

Add stale GitHub Actions workflow
  .github/workflows/stale.yaml
Due: none

rebase
  .github/workflows/publish-python-library.yml
  .mise/config.toml
  libraries/python/pocketsizefund/config.py
  libraries/python/src/python/__init__.py
  libraries/python/tests/test_data.py
  libraries/python/tests/test_storage.py
  pyproject.toml
  temp/compliance/Cargo.toml
  temp/compliance/Dockerfile
  temp/compliance/compose.yaml
  temp/compliance/src/lib.rs
  temp/compliance/src/main.rs
  temp/compliance/src/routes/events.rs
  temp/compliance/src/routes/health.rs
  temp/compliance/src/routes/mod.rs
  temp/compliance/tests/test_compliance.rs
  temp/compliance/tests/test_health.rs
Due: lint, dead-code, rust-formatting, rust-linting

testing
  .flox/env.lock
  .mise/config.toml
  libraries/python/tests/test_data.py
  libraries/python/tests/test_storage.py
  platform/positionmanager/entrypoint.py
  pyproject.toml
Due: lint, dead-code

updates
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  temp/compliance/Cargo.toml
  temp/compliance/Dockerfile
  temp/compliance/compose.yaml
  temp/compliance/src/lib.rs
  temp/compliance/src/main.rs
  temp/compliance/src/routes/events.rs
  temp/compliance/src/routes/health.rs
  temp/compliance/src/routes/mod.rs
  temp/compliance/tests/test_compliance.rs
  temp/compliance/tests/test_health.rs
Due: rust-formatting, rust-linting

remove conflict
  libraries/python/poetry.lock
Due: none

linting
  .mise/tasks/platform/positionmanager/build
  Cargo.lock
  pyproject.toml
Due: none

rebase
  libraries/python/poetry.lock
Due: none

updates from pr comments
  platform/discord/Dockerfile
  platform/discord/manifest.yaml
Due: none

cleanup
  .flox/env/manifest.toml
  .flox/log/watchdog.42893.log
  .github/workflows/publish-python-library.yaml
  .github/workflows/rust.yml
  .mise/config.toml
  .mise/tasks/infrastructure/up
  .mise/tasks/platform/discord/build
  .mise/tasks/platform/positionmanager/build
  .mise/tasks/platform/pricemodel/build
  .mise/tasks/platform/pricemodel/push
  infrastructure/aws/cluster-config.yaml
Due: none

clean up platform code to be knative ready
  infrastructure/chat.py
  infrastructure/knative/broker.yaml
  infrastructure/knative/event-display.yaml
  libraries/python/poetry.lock
  libraries/rust/Cargo.toml
  libraries/rust/src/events/market.rs
  platform/chronos/Cargo.toml
  platform/chronos/manifest.yaml
  platform/chronos/src/routes/events.rs
  platform/chronos/tests/test_chron.rs
  platform/discord/.dockerignore
  platform/discord/Cargo.toml
  platform/discord/Dockerfile
  platform/discord/compose.yaml
  platform/discord/manifest.yaml
  platform/discord/src/routes/message.rs
  platform/positionmanager/.dockerignore
  platform/positionmanager/manifest.yaml
  platform/positionmanager/pyproject.toml
  platform/pricemodel/compose.yaml
  platform/pricemodel/manifest.yaml
  platform/pricemodel/pyproject.toml
  platform/pricemodel/src/pricemodel/entrypoint.py
  platform/pricemodel/uv.lock
Due: lint, dead-code, rust-formatting, rust-linting

linting
  .github/workflows/publish-python-library.yml
  .github/workflows/python.yaml
  libraries/python/pocketsizefund/config.py
  platform/positionmanager/entrypoint.py
  platform/pricemodel/src/pricemodel/entrypoint.py
Due: lint, dead-code

update library
  libraries/rust/Cargo.toml
  libraries/rust/src/events/market.rs
Due: rust-formatting, rust-linting

Build remaining required resources for datacollector
  Cargo.lock
  infrastructure/main.tf
  infrastructure/platform/datacollector.yaml
  infrastructure/platform/dataprovider.yaml
  infrastructure/platform/secrets.tf
  infrastructure/platform/variables.tf
  infrastructure/variables.tf
  libraries/rust/Cargo.toml
  libraries/rust/src/data/client.rs
  libraries/rust/src/data/mod.rs
  platform/datacollector/Cargo.toml
  platform/datacollector/src/main.rs
  platform/dataprovider/Cargo.toml
  platform/dataprovider/src/main.rs
  platform/pricemodel/entrypoint.py
  platform/pricemodel/requirements.txt
Due: lint, dead-code, rust-formatting, rust-linting

update library
  libraries/rust/Cargo.toml
Due: none

fix docker builds
  .mise/tasks/platform/datacollector/run
  .mise/tasks/platform/dataprovider/run
  Cargo.lock
  platform/datacollector/Cargo.toml
  platform/datacollector/Dockerfile
  platform/dataprovider/Cargo.toml
  platform/dataprovider/Dockerfile
Due: none

Build remaining required resources for datacollector
  Cargo.lock
  infrastructure/main.tf
  infrastructure/platform/datacollector.yaml
  infrastructure/platform/dataprovider.yaml
  infrastructure/platform/secrets.tf
  infrastructure/platform/variables.tf
  infrastructure/variables.tf
  libraries/rust/Cargo.toml
  libraries/rust/src/data/client.rs
  libraries/rust/src/data/mod.rs
  platform/datacollector/Cargo.toml
  platform/datacollector/src/main.rs
  platform/dataprovider/Cargo.toml
  platform/dataprovider/src/main.rs
  platform/pricemodel/requirements.txt
  platform/pricemodel/src/pricemodel/entrypoint.py
Due: lint, dead-code, rust-formatting, rust-linting

testing
  .github/workflows/publish-python-library.yml
Due: none

testing
  .mise.toml
  .mise/config.toml
  Cargo.lock
  libraries/python/pyproject.toml
  libraries/python/src/pocketsizefund/config.py
  libraries/python/src/pocketsizefund/trade.py
  libraries/python/tests/test_data.py
  libraries/python/tests/test_storage.py
  libraries/python/tests/test_trade.py
  libraries/rust/Cargo.toml
  pyproject.toml
  uv.lock
Due: lint, dead-code

testing
  .github/workflows/publish-python-library.yml
  libraries/python/pocketsizefund/config.py
  libraries/python/src/pocketsizefund/storage.py
  libraries/python/src/python/__init__.py
Due: lint, dead-code

updating gh action
  .github/workflows/python.yaml
Due: none

testing
  .github/workflows/python.yaml
Due: none

testing
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .github/workflows/python.yaml
  .github/workflows/setup.yaml
  .mise/config.toml
  pyproject.toml
Due: none

Path conditions:
  lint: any of: \.py$
  dead-code: any of: \.py$
  rust-formatting: any of: \.rs$
  rust-linting: any of: \.rs$
